<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-7 col-lg-4">
            <div class="information">
                <a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a>
                <figure>
                    <img [src]="avatar" class="img-fluid d-block m-auto" />
                </figure>
                <h2>{{fullName}}</h2>
                <a href="" class="add-friend"><img src="/assets/images/icons/icon-add-friend.png" class="d-inline-block img-fluid mr-2" alt="">ADD FRIEND</a>
            </div>
        </div>
    </div>
</div>