<h2>Calendar:</h2>
<div class="container-box">
    <div class="subtitle">
        <h3>Saved workouts</h3>
    </div>
    <div class="workouts-list">
        <div class="workout">workout <span>1</span><p>CHEST / SHOULDERS / TRICEPS</p></div>
        <div class="workout">workout <span>2</span><p>BACK / BICEPS</p></div>
        <div class="workout">workout <span>3</span><p>QUADRICEPS / HAMSTRINGS / CALVES</p></div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>MON</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><span>1</span></td>
                    <td></td>
                    <td><span>2</span></td>
                    <td></td>
                    <td><span>3</span></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                        <td>8</td>
                        <td><span>1</span></td>
                        <td></td>
                        <td><span>2</span></td>
                        <td></td>
                        <td><span>3</span></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                            <td>9</td>
                            <td><span>1</span></td>
                            <td></td>
                            <td><span>2</span></td>
                            <td></td>
                            <td><span>3</span></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                                <td>10</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td><span>1</span></td>
                                <td></td>
                                <td><span>2</span></td>
                                <td></td>
                                <td><span>3</span></td>
                                <td></td>
                                <td></td>
                            </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <a href="" class="btn btn-black"><span>+</span> ADD WEEK</a>
        <a href="" class="btn btn-gray">REMOVE WEEK</a>
    </div>
    <div class="calendar-info">
        <p class="program"><span>PROGRAM NAME:</span> GERMAN VOLUME TRAINING </p>
        <p class="category"><span>CATEGORY  NAME:</span> HYPERTROPHY </p>
        <p class="description"><span>Description:</span> Lorem ipsum dolor sit amet consectetur... <a href="">Show more</a> </p>
    </div>
</div>
