osg-profile-cover {
    display: block;
    width: 100%;
    padding-top: 170px;
    padding-bottom: 140px;
    margin-bottom: -50px;
    background: #1f1f1f url("/assets/images/cover-shape.png") no-repeat left bottom;
    clip-path: ellipse(100% 60% at 50% 40%);
    -webkit-clip-path: ellipse(100% 60% at 50% 40%);
    position: relative;
    z-index: 3;

    .information {
        text-align: center;
        position: relative;
        display: block;

        .edit {
            display: block;
            width: 23px;
            position: absolute;
            right: 50px;
            top: 0px;
            @include media-breakpoint-down(xs){
                right: 20px;
            }
        }

        .add-friend {
            display: inline-block;
            background: #000;
            color: #FFF;
            font-family: $fourth-font;
            font-size: rem(16);
            text-transform: uppercase;
            text-align: center;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;

            &:hover {
                text-decoration: none;
            }
        }

        figure {
            display: block;
            width: 225px;
            height: 225px;
            border-radius: 100%;
            background: $white;
            overflow: hidden;
            margin: 0 auto 20px;
            position: relative;
            img{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        }

        h2 {
            color: $white;
            font-family: $primary-font;
            text-transform: uppercase;
            font-size: rem(25);
        }
    }
}
