osg-profile {
    display: block;
    @import 'cover';
    @import 'about';

    osg-personal-trainer,
    osg-program-designer,
    osg-strength-athlete {
        /* display: block;
        .left-box {
            padding-top: rem(120);
            background: $white;
            display: block;
            @include media-breakpoint-up(md){
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .right-box {
            display: block;
            padding-top: rem(120);
            background: #f5f5f5;
            @include media-breakpoint-up(md){
                padding-left: 30px;
                padding-right: 30px;
            }
            @import 'personal-trainer/main';
            @import 'strength-athlete/main';
        } */

        @extend .row;
        z-index: 2;
        margin: 0;

        >div {
            @extend .col;
            padding-top: rem(120);

            @include media-breakpoint-up(md) {
                padding-left: 30px;
                padding-right: 30px;
            }

            &:first-child {
                @media (min-width: 320px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
				
				@media (min-width: 1280px) {
                    flex: 0 0 30%;
                    max-width: 30%;
                }

                background: $white;

            }

            &:last-child {
                @media (min-width: 320px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
				
				@media (min-width: 1280px) {
                    flex: 0 0 70%;
                    max-width: 70%;
                }

                background: #f5f5f5;
                @import 'personal-trainer/main';
                @import 'strength-athlete/main';
                @import 'program-designer/main';
            }
        }
    }
    osg-program-designer,
    osg-strength-athlete{
        osg-news-feed{
            .post-creator{
                .actions{
                    .btn-black{
                        img{
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}