<div class="title">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
        <h3>TOP PROGRAM DESIGNS</h3>
        </div>
        <div class="col-12 col-sm-6 text-right">
        <div class="sort-box">
            <p>LEVEL:</p>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NOVICE</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Untrained</a>
                    <a class="dropdown-item" href="#">Novice</a>
                    <a class="dropdown-item" href="#">Intermediate</a>
                    <a class="dropdown-item" href="#">Advanced</a>
                    <a class="dropdown-item" href="#">Elite</a>
                </div>
            </div>
            <p>Category:</p>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Power</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-blue" href="#">Strength</a>
                    <a class="dropdown-item text-red" href="#">Hypertrophy</a>
                    <a class="dropdown-item text-orange" href="#">Muscular endurance</a>
                    <a class="dropdown-item text-green" href="#">Power</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="table-top-program">
    <div class="table-responsive">
        <table class="table table-127">
            <thead>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="10">PROGRAM DESIGN</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Muscle Group</td>
                    <td rowspan="2">Best Training Program</td>
                    <td rowspan="2">Level (pretest)</td>
                    <td rowspan="2">Type of exercise</td>
                    <td rowspan="2">Exercises</td>
                    <td colspan="2" class="blue">Volume</td>
                    <td colspan="2" class="orange">Intensity</td>
                    <td rowspan="2" class="green">Frequency (muscle group per week)</td>
                    <td rowspan="2">Progression model</td>
                    <td rowspan="2">Rest periods</td>
                    <td rowspan="2">Tempo</td>
                    <td rowspan="2">Test exercise</td>
                    <td rowspan="2" class="orange">Percentage Increase</td>
                </tr>
                <tr>
                    <td class="blue">Sets</td>
                    <td class="blue">Reps</td>
                    <td class="orange">% of 1RM</td>
                    <td class="orange">Reps to failure</td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Chest</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Back</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Quads</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Shoulders</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Hamstrings</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Calves</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Triceps</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!--  -->
                <tr>
                    <td rowspan="2">Biceps</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td class="green-border">Multi joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td class="green-border">Single joint exercises</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
