<div class="title">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
        <h3>CALENDAR & TRAINING LOG</h3>
        </div>
        <div class="col-12 col-sm-5">
            <div class="control-slider">
                <p>AUGUST 2018</p>
                <a href="" class="btn-control prev"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                <a href="" class="btn-control next"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-12 col-sm-1">
            <a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a>
        </div>
    </div>
</div>
<div class="responsive-calendar">

    <div class="conventions">
        <p class="test"><span></span>Test Sessions</p>
        <p class="completed"><span></span>Completed Sessions</p>
        <p class="missed"><span></span>Missed Sessions</p>
        <p class="today"><span></span>Today</p>
        <p class="upcoming"><span></span>Upcoming Sessions</p>
    </div>
    
    <div class="calendar">
        <div class="week-days">
          <div class="col">Sunday</div>
          <div class="col">Monday</div>
          <div class="col">Tuesday</div>
          <div class="col">Wednesday</div>
          <div class="col">Thursday</div>
          <div class="col">Friday</div>
          <div class="col">Saturday</div>
        </div>
        <div class="wrapper-weeks">
          <div class="week">
      
            <div class="day">
              <div><span class="time">30</span></div>
            </div>
      
            <div class="day completed test">
              <div>
                <span class="time">Jul 31</span>
                <b>Starting strength</b>
                <p>Quads, hamstrings,and calves</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">Aug 1</span></div>
            </div>
      
            <div class="day completed test">
              <div>
                <span class="time">2</span>
                <b>Starting strength</b>
                <p>Chest, shoulders, and triceps </p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">3</span></div>
            </div>
      
            <div class="day completed test">
              <div>
                <span class="time">4</span>
                <b>Starting strength</b>
                <p>Back, biceps, and abs</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">5</span></div>
            </div>
      
          </div>
      
          <div class="week">
      
            <div class="day">
              <div><span class="time">6</span></div>
            </div>
      
            <div class="day missed">
              <div>
                <span class="time">7</span>
                <b>Starting strength</b>
                <p>Quads, hamstrings,and calves</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">8</span></div>
            </div>
      
            <div class="day completed">
              <div>
                <span class="time">9</span>
                <b>Starting strength</b>
                <p>Chest, shoulders, and triceps </p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">10</span></div>
            </div>
      
            <div class="day completed">
              <div>
                <span class="time">11</span>
                <b>Starting strength</b>
                <p>Back, biceps, and abs</p>
              </div>
            </div>
      
            <div class="day today">
              <div><span class="time">12</span></div>
            </div>
      
          </div>
      
          <div class="week">
      
            <div class="day">
              <div><span class="time">13</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">14</span>
                <b>Starting strength</b>
                <p>Quads, hamstrings,and calves</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">15</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">16</span>
                <b>Starting strength</b>
                <p>Chest, shoulders, and triceps </p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">17</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">18</span>
                <b>Starting strength</b>
                <p>Back, biceps, and abs</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">19</span></div>
            </div>
      
          </div>
      
          <div class="week">
      
            <div class="day">
              <div><span class="time">20</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">21</span>
                <b>Starting strength</b>
                <p>Quads, hamstrings,and calves</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">22</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">23</span>
                <b>Starting strength</b>
                <p>Chest, shoulders, and triceps </p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">24</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">25</span>
                <b>Starting strength</b>
                <p>Back, biceps, and abs</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">26</span></div>
            </div>
      
          </div>
      
          <div class="week">
      
            <div class="day">
              <div><span class="time">27</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">28</span>
                <b>Starting strength</b>
                <p>Quads, hamstrings,and calves</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">29</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">30</span>
                <b>Starting strength</b>
                <p>Chest, shoulders, and triceps </p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">Aug 31</span></div>
            </div>
      
            <div class="day upcoming">
              <div>
                <span class="time">Sep 1</span>
                <b>Starting strength</b>
                <p>Back, biceps, and abs</p>
              </div>
            </div>
      
            <div class="day">
              <div><span class="time">2</span></div>
            </div>
      
          </div>
      
        </div>
    </div>    
</div>