<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle">
      <div class="title">Main muscle group</div>
      <div class="content">
        <h4>Chest</h4>
      </div>
    </div>
    <div class="cell exercise">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Barbell bench press</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Barbell bench press</a>
            <a class="dropdown-item" href="#">Barbell incline bench press</a>
            <a class="dropdown-item" href="#">Barbell decline bench press</a>
            <a class="dropdown-item" href="#">Flat bench dumbbell press</a>
            <a class="dropdown-item" href="#">Incline bench dumbbell press</a>
            <a class="dropdown-item" href="#">Decline bench dumbell press</a>
            <a class="dropdown-item" href="#">Flat bench flyes</a>
            <a class="dropdown-item" href="#">Incline bench flyes</a>
            <a class="dropdown-item" href="#">Decline bench flyes</a>
            <a class="dropdown-item" href="#">Cable cross</a>
            <a class="dropdown-item" href="#">Dips for chest</a>
            <a class="dropdown-item" href="#">Seated machine chest press</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li>German Volme Training</li>
          <li>Starting Strength</li>
          <li>Ladder Strength</li>
        </ol>
      </div>
    </div>
    <div class="cell increase">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li>5.10 %</li>
          <li>4.80 %</li>
          <li>4.32 %</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle">
      <div class="title">Main muscle group</div>
      <div class="content">
        <h4>Back</h4>
      </div>
    </div>
    <div class="cell exercise">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Barbell deadlift</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Barbell deadlift</a>
            <a class="dropdown-item" href="#">Good morning</a>
            <a class="dropdown-item" href="#">Bent-over barbell row</a>
            <a class="dropdown-item" href="#">Single-arm dumbbell row</a>
            <a class="dropdown-item" href="#"> Wide-grip pull-up</a>
            <a class="dropdown-item" href="#">Supinated-grip pull-up</a>
            <a class="dropdown-item" href="#">Standing T-bar row</a>
            <a class="dropdown-item" href="#">Wide-grip seated cable row</a>
            <a class="dropdown-item" href="#">Close-grip seated cable row</a>
            <a class="dropdown-item" href="#">Wide-grip pull-down</a>
            <a class="dropdown-item" href="#">Close-grip pull-down</a>
            <a class="dropdown-item" href="#">Supinated-grip pull-down</a>
            <a class="dropdown-item" href="#">Dumbbell pull-over</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li>German Volme Training</li>
          <li>Starting Strength</li>
          <li>Ladder Strength</li>
        </ol>
      </div>
    </div>
    <div class="cell increase">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li>5.10 %</li>
          <li>4.80 %</li>
          <li>4.32 %</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle">
      <div class="title">Main muscle group</div>
      <div class="content">
        <h4>Shoulders</h4>
      </div>
    </div>
    <div class="cell exercise">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Seated arnold press</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Seated barbell shoulder press</a>
            <a class="dropdown-item" href="#">Standing dumbbell shoulder press</a>
            <a class="dropdown-item" href="#">Standing barbell shoulder press</a>
            <a class="dropdown-item" href="#">Seated arnold press</a>
            <a class="dropdown-item" href="#">Dumbbell front raise</a>
            <a class="dropdown-item" href="#">Dumbbell lateral raise</a>
            <a class="dropdown-item" href="#">Cable lateral raise</a>
            <a class="dropdown-item" href="#">Single cable lateral raise</a>
            <a class="dropdown-item" href="#">Seated bent over rear delt flyes.</a>
            <a class="dropdown-item" href="#">Bent over single cable rear delt</a>
            <a class="dropdown-item" href="#">Bent over double cable rear delt</a>
            <a class="dropdown-item" href="#">Lying double cable rear delt</a>
            <a class="dropdown-item" href="#">Cable rope rear-delt rows</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li>German Volme Training</li>
          <li>Starting Strength</li>
          <li>Ladder Strength</li>
        </ol>
      </div>
    </div>
    <div class="cell increase">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li>5.10 %</li>
          <li>4.80 %</li>
          <li>4.32 %</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle">
      <div class="title">Main muscle group</div>
      <div class="content">
        <h4>Quads</h4>
      </div>
    </div>
    <div class="cell exercise">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Barbell back squat</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#"> Barbell front squat</a>
            <a class="dropdown-item" href="#">Barbell lunge </a>
            <a class="dropdown-item" href="#">Dumbbell lunge</a>
            <a class="dropdown-item" href="#">Smith-machine lunge</a>
            <a class="dropdown-item" href="#">Smith-machine back squat</a>
            <a class="dropdown-item" href="#">Leg press</a>
            <a class="dropdown-item" href="#">Hack squat (machine)</a>
            <a class="dropdown-item" href="#">Leg extension</a>
            <a class="dropdown-item" href="#">Single leg extension</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li>German Volme Training</li>
          <li>Starting Strength</li>
          <li>Ladder Strength</li>
        </ol>
      </div>
    </div>
    <div class="cell increase">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li>5.10 %</li>
          <li>4.80 %</li>
          <li>4.32 %</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
    <div class="cell muscle">
      <div class="title">Main muscle group</div>
      <div class="content">
        <h4>Hamstrings</h4>
      </div>
    </div>
    <div class="cell exercise">
      <div class="title">Test Exercise</div>
      <div class="content">
        <div class="dropdown">
          <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Romanian deadlift</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Romanian deadlift</a>
            <a class="dropdown-item" href="#">Lying leg-curls</a>
            <a class="dropdown-item" href="#">Seated leg-curls</a>
            <a class="dropdown-item" href="#">Nordic hamstrings</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell program">
      <div class="title">Best Programs</div>
      <div class="content">
        <ol>
          <li>German Volme Training</li>
          <li>Starting Strength</li>
          <li>Ladder Strength</li>
        </ol>
      </div>
    </div>
    <div class="cell increase">
      <div class="title">% Increase (1RM)</div>
      <div class="content">
        <ol>
          <li>5.10 %</li>
          <li>4.80 %</li>
          <li>4.32 %</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
      <div class="cell muscle">
          <div class="title">Main muscle group</div>
          <div class="content">
              <h4>Calves</h4>
          </div>
      </div>
      <div class="cell exercise">
          <div class="title">Test Exercise</div>
          <div class="content">
              <div class="dropdown">
                  <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seated calf raise</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <a class="dropdown-item" href="#">Standing smith-machine calf raise</a>
                      <a class="dropdown-item" href="#">Standing calf raise (machine)</a>
                      <a class="dropdown-item" href="#">Seated calf raise</a>
                      <a class="dropdown-item" href="#">Calf raise in leg-press machine</a>
                      <a class="dropdown-item" href="#">Donkey calf raise</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="cell program">
          <div class="title">Best Programs</div>
          <div class="content">
              <ol>
              <li>German Volme Training</li>
              <li>Starting Strength</li>
              <li>Ladder Strength</li>
              </ol>
          </div>
      </div>
      <div class="cell increase">
          <div class="title">% Increase (1RM)</div>
          <div class="content">
              <ol>
                <li>5.10 %</li>
                <li>4.80 %</li>
                <li>4.32 %</li>
              </ol>
          </div>
      </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
      <div class="cell muscle">
          <div class="title">Main muscle group</div>
          <div class="content">
              <h4>Biceps</h4>
          </div>
      </div>
      <div class="cell exercise">
          <div class="title">Test Exercise</div>
          <div class="content">
              <div class="dropdown">
                  <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seated dumbbell biceps curl</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <a class="dropdown-item" href="#">Seated dumbbell biceps curl</a>
                      <a class="dropdown-item" href="#">Standing dumbbell biceps curl</a>
                      <a class="dropdown-item" href="#">Barbell biceps curl</a>
                      <a class="dropdown-item" href="#">Seated hammer curl</a>
                      <a class="dropdown-item" href="#">Standing hammer curl</a>
                      <a class="dropdown-item" href="#">Flat bench dumbbell curl</a>
                      <a class="dropdown-item" href="#">EZ-barbell scott curl</a>
                      <a class="dropdown-item" href="#">Dumbbell scott curl</a>
                      <a class="dropdown-item" href="#">Hammer scott curl</a>
                      <a class="dropdown-item" href="#">Reverse curl</a>
                      <a class="dropdown-item" href="#">Reverse scott curl</a>
                      <a class="dropdown-item" href="#">Double cable curl</a>
                      <a class="dropdown-item" href="#">Single cable curl</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="cell program">
          <div class="title">Best Programs</div>
          <div class="content">
              <ol>
              <li>German Volme Training</li>
              <li>Starting Strength</li>
              <li>Ladder Strength</li>
              </ol>
          </div>
      </div>
      <div class="cell increase">
          <div class="title">% Increase (1RM)</div>
          <div class="content">
              <ol>
                <li>5.10 %</li>
                <li>4.80 %</li>
                <li>4.32 %</li>
              </ol>
          </div>
      </div>
  </div>
</div>
<div class="muscle-group">
  <div class="muscle-group-table">
      <div class="cell muscle">
          <div class="title">Main muscle group</div>
          <div class="content">
              <h4>Triceps</h4>
          </div>
      </div>
      <div class="cell exercise">
          <div class="title">Test Exercise</div>
          <div class="content">
              <div class="dropdown">
                  <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dips for triceps</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <a class="dropdown-item" href="#">Flat bench barbell scull crusher</a>
                      <a class="dropdown-item" href="#">Flat bench dumbbell scull crusher</a>
                      <a class="dropdown-item" href="#">Seated barbell scull crusher</a>
                      <a class="dropdown-item" href="#">Seated dumbbell scull crusher</a>
                      <a class="dropdown-item" href="#">Close-grip bench press</a>
                      <a class="dropdown-item" href="#">Dips for triceps</a>
                      <a class="dropdown-item" href="#">Push-down</a>
                      <a class="dropdown-item" href="#">Rope push-down</a>
                      <a class="dropdown-item" href="#">Cable kick-back</a>
                      <a class="dropdown-item" href="#">Dumbbell kick-back</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="cell program">
          <div class="title">Best Programs</div>
          <div class="content">
              <ol>
              <li>German Volme Training</li>
              <li>Starting Strength</li>
              <li>Ladder Strength</li>
              </ol>
          </div>
      </div>
      <div class="cell increase">
          <div class="title">% Increase (1RM)</div>
          <div class="content">
              <ol>
                <li>5.10 %</li>
                <li>4.80 %</li>
                <li>4.32 %</li>
              </ol>
          </div>
      </div>
  </div>
</div>
