<div class="header">
	<div class="navigate-buttons">
		<a class="left-button" (click)="Back()"><svg aria-hidden="true" focusable="false" data-prefix="fas"
				data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
				class="svg-inline--fa fa-arrow-left fa-w-14 fa-lg">
				<path fill="currentColor"
					d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
					class=""></path>
			</svg></a>
		<a class="right-button" (click)="FinishWorkout()">Finish Workout</a>
	</div>
	<div class="detail-info">
		<div class="detail-info-title">
			<p>
				<span>Day3: {{date}}</span>
				<span>
					<svg>
						<circle cx="5" cy="5" r="1" stroke="#000" stroke-width="3" /></svg>{{status}}</span>
			</p>
			<h4>Chest, Shoulders & Triceps</h4>
			<h5>German Volume Training</h5>
		</div>
	</div>
	<div class="regulation" *ngIf="status != 'completed'">
		<p>autoRegulation:</p>
		<ui-switch [(ngModel)]="autoRegulation" size="large" color="#85c435" switchColor="#fcfcfc" labelOn="On"
			labelOff="Off"></ui-switch>
	</div>
</div>
<div class="container" [ngClass]="status=='completed'?'marginTop':'marginNormal'">
	<!-- <osg-workout-detail-upcoming [status]='status' (valueChange)='getEvent($event)' *ngIf="status != 'completed'">
	</osg-workout-detail-upcoming> -->
	<div class="card">
		<div class="card-header">
			<div class="time-block">
				<img src="assets/images/icons/time.png">
				<p>{{time}}</p>
			</div>
			<div class="status">
				<p class="edit-set" *ngIf="status=='completed'"><span><svg aria-hidden="true" focusable="false" data-prefix="fas"
							data-icon="pen-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
							class="svg-inline--fa fa-pen-square fa-w-14 fa-fw fa-lg">
							<path fill="currentColor"
								d="M400 480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zM238.1 177.9L102.4 313.6l-6.3 57.1c-.8 7.6 5.6 14.1 13.3 13.3l57.1-6.3L302.2 242c2.3-2.3 2.3-6.1 0-8.5L246.7 178c-2.5-2.4-6.3-2.4-8.6-.1zM345 165.1L314.9 135c-9.4-9.4-24.6-9.4-33.9 0l-23.1 23.1c-2.3 2.3-2.3 6.1 0 8.5l55.5 55.5c2.3 2.3 6.1 2.3 8.5 0L345 199c9.3-9.3 9.3-24.5 0-33.9z"
								class=""></path>
						</svg></span>
					edit set</p>
				<p [ngClass]="(status=='inprogress')?'in-progress':(status=='completed')?'complete':(status=='upcoming')?'upcoming':'missed'">
					<span *ngIf="status=='completed'"><svg aria-hidden="true" focusable="false" data-prefix="fas"
							data-icon="check-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
							class="svg-inline--fa fa-check-square fa-w-14 fa-3x">
							<path fill="currentColor"
								d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"
								class=""></path>
						</svg></span>
					{{status}}</p>
			</div>
		</div>
		<div class="card-body">
			<div class="main-body">
				<div class="main-info">
					<div class="responsive-img">
						<img src="assets/images/icons/body.png">
					</div>
					<div class="info-texts">
						<p>Chest</p>
						<h6>Bench Press</h6>
						<p>Set3</p>
					</div>
					<span class="caret" data-toggle="collapse" data-target="#detail-body"><i class="fa fa-caret-up"
							aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="detail-body collapse in show" id="detail-body">
				<div class="detail-method">
					<div class="method-type">
						<p>Method:</p>
						<p>Tempo (Down - Hold - Up):</p>
					</div>
					<div class="method-value">
						<p>Straight set</p>
						<p>3 - 0 - 2</p>
					</div>
				</div>
				<div class="detail-progress">
					<div class="progress-form" (click)="goProgress()" *ngIf="status != 'completed'">
						<div class="form-title">
							<p>Target:</p>
						</div>
						<div class="form-value">
							<div>
								<p class="amount-num">8</p>
								<p><span>Target<br>Reps</span></p>
							</div>
							<div>
								<p class="amount-num">1</p>
								<p><span>Target<br>RTF</span></p>
							</div>
							<div>
								<p class="amount-num">100</p>
								<p><span>Target<br>Load(kg)</span></p>
							</div>
						</div>
					</div>

					<div class="progress-form" (click)="viewDetails()" *ngIf="status != 'today'">
						<div class="form-title">
							<p><span>Completed:</span><span *ngIf="status=='completed'"><svg aria-hidden="true" focusable="false"
										data-prefix="fas" data-icon="check-square" role="img" xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512" class="svg-inline--fa fa-check-square fa-w-14 fa-3x">
										<path fill="currentColor"
											d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"
											class=""></path>
									</svg></span></p>
						</div>
						<div class="form-value">
							<div>
								<p class="amount-num">{{isStart?'-':reps}}</p>
								<p><span>Performed<br>Reps</span></p>
							</div>
							<div>
								<p class="amount-num">{{isStart?'-':rtf}}</p>
								<p><span>Performed<br>RTF</span></p>
							</div>
							<div>
								<p class="amount-num">{{isStart?'-':load}}</p>
								<p><span>Autoregulated<br>Load(kg)</span></p>
							</div>
						</div>
					</div>

					<div class="progress-form-set" *ngIf="status!= 'completed' && status != 'missed' && status != 'today'">
						<osg-workout-detail-progress [reps]="reps" [rtf]="rtf" [load]="load" (valueChange)="valueChange($event)"></osg-workout-detail-progress>
						<div class="form-buttons">
							<div class="single-button skip" (click)="SkipSet()">Skip set</div>
							<div class="single-button finish" (click)="FinishSet()">finish set</div>
						</div>
					</div>
					<osg-workout-detail-complete *ngIf="status == 'completed' && isShowingComplete"></osg-workout-detail-complete>
				</div>
			</div>
		</div>
	</div>
</div>