osg-workout-log {
    display: block;
    background: #f5f5f5;
    width: 100%;
    padding-top: 92px;
    padding-bottom: 20px;
	
	.header {
		background-image: linear-gradient(to bottom right, #ff8d00, #ffb20d);
		padding: 30px 15px 90px 15px;
		font-family: $third-font;
		.navigate-buttons {
			height: 20px;
			.left-button {
				float: left;
				svg {
					width: 20px;
				}
			}
			.right-button {
				float: right;
			}
		}
		.detail-info {
		    padding-top: 20px;
			h4 {
				font-size: 30px;
				font-weight: bold;
				margin-bottom: 0;
				@media screen and (max-width: 414px) {
					font-size: 27px;
				}
				@media screen and (max-width: 375px) {
					font-size: 23px;
				}
				@media screen and (max-width: 360px) {
					font-size: 22px;
				}
				@media screen and (max-width: 320px) {
					font-size: 20px;
				}
			}
			h5 {
				@media screen and (max-width: 414px) {
					font-size: 18px;
				}
				@media screen and (max-width: 375px) {
					font-size: 16px;
				}
				@media screen and (max-width: 360px) {
					font-size: 15px;
				}
				@media screen and (max-width: 320px) {
					font-size: 13px;
				}
			}
			.detail-text-group {
				display: flex;
				.detail-text {
					width: 33.33%;
					h4 {
						display: flex;
						font-weight: normal;
						.detail-explain {
							font-size: 12px;
							padding-top: 5px;
							padding-left: 5px;
							@media screen and (max-width: 414px) {
								font-size: 10px;
								padding-top: 7px;
							}
							@media screen and (max-width: 375px) {
								font-size: 10px;
								padding-top: 3px;
							}
							@media screen and (max-width: 360px) {
								font-size: 9px;
								padding-top: 4px;
							}
							@media screen and (max-width: 320px) {
								font-size: 8px;
								padding-top: 3px;
							}
						}
					}
				}				
			}
		}
	}
	.container {
		margin-top: -60px;
	}
    @import "workout-list";
}
