<div class="row mb-2 align-items-center">
    <div class="col text-left"><h3>newsfeed</h3></div>
    <div class="col text-right"><a href="" class="edit"><img src="/assets/images/icons/icon-pencil.svg" class="img-fluid" alt=""></a></div>
</div>

<div class="post-creator">
    <div class="comment">
        <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <figure>
                    <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                </figure>
            </div>
            <div class="col-auto"><textarea class="message" name="" id="" cols="30" rows="2" placeholder="What’s on your mind?"></textarea></div>
        </div>
    </div>
    <div class="actions">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-lg-7">
                <a href="" class="add-media"><img src="/assets/images/icons/icon-camera.png" class="img-fluid mr-1" alt="">Photo/Video</a>
            </div>
            <div class="col-12 col-sm-12 col-lg-5 mt-3 mt-lg-0">
                <a href="" class="btn btn-block btn-black">
                    POST</a>
            </div>
        </div>
    </div>
</div>
<div class="post" *ngFor="let post of feed.posts">
    <div class="content">
        <div class="author">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-2">
                    <figure>
                        <img src="{{post.author.imageUrl}}" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col-8 col-sm-8 col-md-6 col-lg-8">
                    <div class="summary">
                        <a href="#">{{post.author.name}}</a>
                        <span>{{post.postedAt}}</span>
                    </div>
                </div>
                <div class="col-auto text-right">
                    <a href="javascript:void(0)" class="toggle-popover" data-toggle="collapse" href="#popover-id-1" role="button" aria-expanded="false" aria-controls="popover"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>
                <div class="collapse popover-menu" id="popover-id-1">
                    <ul>
                        <li><a href="">Turn off notifications</a></li>
                        <li><a href="">Edit post</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-content">
            <p>{{post.content.text}}</p>
            <div class="photos">
                <figure *ngFor="let url of post.content.photoUrls">
                    <img  src="{{url}}" />
                </figure>
            </div>
            <div class="video">
                <img src="{{post.content.videoUrl}}" class="img-fluid d-block mx-auto" />
            </div>
        </div>
    </div>
    <div class="comments-box">
        <div class="comment" *ngFor="let comment of post.comments">
            <div class="row no-gutters">
                <div class="col-auto mr-2">
                    <figure>
                        <img src="{{comment.author.imageUrl}}" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col-8 col-sm-8 col-md-6 col-lg-8 mr-2">
                    <div class="speech-bubble">
                        <div class="comment-container">
                                <a href="#">{{comment.author.name}}</a>
                                <p>{{comment.text}}</p>
                        </div>
                        <span>{{comment.postedAt}}</span>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <a href="" class="toggle-popover" data-toggle="collapse" href="#popover-id-comment-1" role="button" aria-expanded="false" aria-controls="popover"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>
                <div class="collapse popover-menu" id="popover-id-comment-1">
                    <ul>
                        <li><a href="">Turn off notifications</a></li>
                        <li><a href="">Edit post</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="comment-creator">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-3">
                    <figure>
                        <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col-8 col-sm-8 col-md-6 col-lg-8 mr-2">
                    <div class="input-container">
                        <input type="text" placeholder="Write a comment" />
                        <a href="" class="add-media"><img src="/assets/images/icons/icon-camera.png" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="post">
    <div class="content">
        <div class="author">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-2">
                    <figure>
                        <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col-8 col-sm-8 col-md-6 col-lg-8">
                    <div class="summary">
                        <a href="#">Nohman Janjua</a>
                        <span>30 minutes ago</span>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="javascript:void(0)" class="toggle-popover" data-toggle="collapse" href="#popover-id-2" role="button" aria-expanded="false" aria-controls="popover"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>
                <div class="collapse popover-menu" id="popover-id-2">
                    <ul>
                        <li><a href="">Turn off notifications</a></li>
                        <li><a href="">Edit post</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-content">
            <p>The weights are getting heavier little by little thanks to the autoregulation function!</p>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <img src="/assets/images/feed-img-1.jpg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="col-12 col-sm-4">
                    <img src="/assets/images/feed-img-2.jpg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="col-12 col-sm-4">
                    <img src="/assets/images/feed-img-3.jpg" class="img-fluid mx-auto d-block" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="comments-box">
        <div class="comment-creator">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-3">
                    <figure>
                        <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input type="text" placeholder="Write a comment" />
                        <a href="" class="add-media"><img src="/assets/images/icons/icon-camera.png" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post">
    <div class="content">
        <div class="author">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-2">
                    <figure>
                        <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col-8 col-sm-8 col-md-6 col-lg-8">
                    <div class="summary">
                        <a href="#">Nohman Janjua</a>
                        <span>30 minutes ago</span>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="javascript:void(0)" class="toggle-popover" data-toggle="collapse" href="#popover-id-3" role="button" aria-expanded="false" aria-controls="popover"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>
                <div class="collapse popover-menu" id="popover-id-3">
                    <ul>
                        <li><a href="">Turn off notifications</a></li>
                        <li><a href="">Edit post</a></li>
                        <li><a href="">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-content">
            <p>Video from todays chest workout. Can PT Nohman Janjua please give me feedback on my bench press technique?</p>
            <div class="row">
                <div class="col-12">
                    <img src="/assets/images/feed-img-4.jpg" class="d-block img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="comments-box">
        <div class="comment-creator">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-3">
                    <figure>
                        <img src="/assets/images/icons/icon-account-gray.png" class="img-fluid d-block mx-auto" />
                    </figure>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input type="text" placeholder="Write a comment" />
                        <a href="" class="add-media"><img src="/assets/images/icons/icon-camera.png" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->