@font-face {
  font-family: 'Square 721 BT Bold Extended';
  src: url(/fonts/Square721BT-BoldExtended.eot?75a2f3cca3a5ef7f6b4fd5286dad2fb9) format("embedded-opentype"), url(/fonts/Square721BT-BoldExtended.woff?6611624dee4b7588a27e1e5e71f6302d) format("woff"), url(/fonts/Square721BT-BoldExtended.ttf?45ad37633d4592236a396ad5a6c7e204) format("truetype"), url(/fonts/Square721BT-BoldExtended.svg?abf79d2629fdc5a554760bfec1c14167) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura BT';
  src: url(/fonts/FuturaBT-Medium.eot?44061f6a563f0767ba48de9049ecc74f) format("embedded-opentype"), url(/fonts/FuturaBT-Medium.woff?bab16431a9bff04c6b6c64d76aae8122) format("woff"), url(/fonts/FuturaBT-Medium.ttf?66f6014c632427132e3df49ec2163836) format("truetype"), url(/fonts/FuturaBT-Medium.svg?ff90880f866cad8d0ef063b841863977) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura BT';
  src: url(/fonts/FuturaBT-Bold.eot?d2185098f2d465c53ad93b7864d9553e) format("embedded-opentype"), url(/fonts/FuturaBT-Bold.woff?eda90ac8a312f1a9287639dbf0347bb7) format("woff"), url(/fonts/FuturaBT-Bold.ttf?1ffbed7089a941aa728bb970f3ad49f6) format("truetype"), url(/fonts/FuturaBT-Bold.svg?ff833d3f09222014cfe698195a0cd5a3) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Book';
  src: url(/fonts/FuturaBT-Book.eot?c7314a12570ea08e04a61db1add743d5) format("embedded-opentype"), url(/fonts/FuturaBT-Book.otf?e1475fa9d0d3433318bc200cc45e002e) format("opentype"), url(/fonts/FuturaBT-Book.woff?65ac184a2e3861a9ca37f75a004b9814) format("woff"), url(/fonts/FuturaBT-Book.ttf?2736740df11c24ca8b228be488908231) format("truetype"), url(/fonts/FuturaBT-Book.svg?9ebbc48f524e4f73beabf6c4c5c8f339) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url(/fonts/Gotham-Book.eot?3e077b58b8ae367b93056e35c3a61df2) format("embedded-opentype"), url(/fonts/Gotham-Book.woff?1afe0a8aa6e3459080fcabe62050b3e9) format("woff"), url(/fonts/Gotham-Book.ttf?d044a4bf155bf00e3533b5b4c2b892bc) format("truetype"), url(/fonts/Gotham-Book.svg?5c23a69e60a9fcc8d9bae826f1e0da21) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url(/fonts/Gotham-Medium.eot?adc4354cbbb8141ca5bdbd6cdaa5d443) format("embedded-opentype"), url(/fonts/Gotham-Medium.otf?982ce17d7ddd10e11f0fdec9214fa9fc) format("opentype"), url(/fonts/Gotham-Medium.woff?4b22c998c63cc9cf343f1cf6713404f9) format("woff"), url(/fonts/Gotham-Medium.ttf?ff0075c4410632484f89be9b2850abaf) format("truetype"), url(/fonts/Gotham-Medium.svg?c727ac8d0192d902f9a598c4a696c197) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url(/fonts/Gotham-Bold.eot?a4e3583fbc53980dfebf4dc489b774d1) format("embedded-opentype"), url(/fonts/Gotham-Bold.otf?722c5f898bbca8b2eb3fce0287688326) format("opentype"), url(/fonts/Gotham-Bold.woff?361bdb76dec13d3ff12baf2c95c1c36d) format("woff"), url(/fonts/Gotham-Bold.ttf?ea4745b02597c68f1e77a6d99c4fa1d5) format("truetype"), url(/fonts/Gotham-Bold.svg?36a715a2b43d8dfc45fbb7f22acf3c4e) format("svg");
  font-weight: bold;
  font-style: normal;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

h1.with-stars,
h2.with-stars,
h3.with-stars,
h4.with-stars,
h5.with-stars,
h6.with-stars {
  text-align: center;
}

h1.with-stars:after,
h2.with-stars:after,
h3.with-stars:after,
h4.with-stars:after,
h5.with-stars:after,
h6.with-stars:after {
  content: '';
  background: url("/images/stars.png") center no-repeat transparent;
  background-size: cover;
  width: 161px;
  height: 48px;
  display: block;
  margin: 20px auto;
}

h1.with-stars.black:after,
h2.with-stars.black:after,
h3.with-stars.black:after,
h4.with-stars.black:after,
h5.with-stars.black:after,
h6.with-stars.black:after {
  background: url("/images/black-stars.png") center no-repeat transparent;
}

