osg-program-designer-experience-reviews {
    .title {
        display: block;
        width: 100%;

        h3 {
            @include section-title;
            width: 100%;
            &:after{
                content: "";
                background: #b7b7b7;
                display: block;
                width: 105%;
                height: 1px;
                margin-top: 15px;
                @include media-breakpoint-down(md){
                    display: none;
                }
            }

            span {
                color: $light-blue;
                display: inline-block;
            }
			
			@media (min-width: 320px) {
				margin-top: 7.5rem;
			}
			@media (min-width: 1280px) {
				margin-top: 20px;
			}
        }
        .btn{
            font-size: rem(14);
            span{
                color: $orange;
                font-size: rem(9);
                .fa-inverse{
                    color: $black;
                }
            }
            img{
                width: 13px;
            }
        }
    }
	.review-table {
		display: flex;
		width: 100%;
		overflow-x: auto;
		.review-box{
			margin-top: 20px;
			margin-bottom: 20px;
			@media (min-width: 320px) {
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
			@media (min-width: 1366px) {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
				margin-right: 15px;
			}
			.review{
				display: block;
				background: #FFF;
				font-size: rem(12);
				text-align: center;
				border: 1px solid #dee2e6;
				padding: 20px 10px;
				height: 100%;
				p{
					color: $text-gray;
					font-size: rem(14);
					&.name{
						color: $light-blue;
						margin-bottom: 5px;
						font-family: $fourth-font;
					}
				}
				figure{
					margin-bottom: 5px;
				}
			}
		}
	}
    
    .rating{
        font-size: 10px;
        color: #b7b7b7;
        display: block;
        margin-bottom: 5px;
        text-align: center;
        &:before{
            content:"";
            display: block;
            background: #bebebe;
            width: 50%;
            height: 1px;
            margin: 15px auto;
        }
        span{
            color: #b7b7b7;
            &.excellent{
                color: #4b870a;
            }
            &.good{
                color: $dark-green;
            }
            &.middle{
                color: $orange;
            }
        }
        p{
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 0;
        }
    }
}
