osg-program-designer-experience-bank{
    display: block;
    margin-bottom: 30px;
    .title {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 5px;
	
        h3 {
            @include section-title;

            span {
                color: $light-blue;
                display: inline-block;
            }
        }
		@media (min-width: 320px) {
			margin-top: 7.5rem;
		}
		@media (min-width: 1280px) {
			margin-top: 20px;
		}
    }
    p{
        font-size: rem(16);
    }
    h4{
        text-transform: uppercase;
        font-size: rem(14);
        font-weight: bold;
        font-family: $fourth-font;
		margin-bottom: 20px;
        span{
            color: #ffa500;
			display: inline-block;
        }
    }
	
	.category-group {
		display: flex;
		flex-direction: column;
		overflow-x: auto;
		.category-row {
			width: 1200px;
			display: flex;
			.category-box {
				border: 1px solid #c7c7c7;
				margin-bottom: 10px;
				flex: 0 0 25%;
				margin-right: 30px;
				label {
					text-transform: uppercase;
					font-family: "Gotham Bold";
					font-size: small;
					padding-top: 10px;
				}
				p {
					color: #838383;
				}
				.type {
					padding: 15px 20px 15px 20px;
					background: #fff0cf;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #c7c7c7;
					align-items: baseline;
					min-height: 65.95px;
					input {
						width: 120px;
						border-radius: 6px;
						border: 1px solid #c7c7c7;
						padding: 5px;
					}
				}
				.results {
					padding: 20px;
					background: #fff;
					&.mirror {
						background: #ffe401;
					}
					&.average {
						background: #78cd18;
					}
					.item {
						display: flex;
						justify-content: space-between;
						font-size: small;
					}
				}
			}
		}
	}
	
	p {
		color: #838383;
		span {
			color: #000;
		}
	}
    table{
        thead{
            tr{
                th{
                    border: solid 1px #dadada;
                    background: #acf9ff;
                    font-family: $fourth-font;
                    font-weight: bold;
                    text-align: center;
                    font-size: rem(14);
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
        tbody{
            tr{
                td{
                    border: solid 1px #dadada;
                    background: #FFF;
                    font-size: rem(14);
                    text-align: center;
                    &:first-child{
                        color: #000;
                        background: #fff6e1;
                    }
                }
            }
        }
		&.bank-table {
			@media (max-width: 1024px) {
				width: 1200px;
			}
			thead {
				tr {
					th {
						border: solid 3px #dadada;
						&.variable {
							text-align: left;
						}
					}
				}
			}
			tbody {
				tr {
					&.mirror {
						border-bottom: 3px solid #dadada;
					}
					td {
						&.variable {
							text-align: left;
						}
						&.rank {
							vertical-align: middle;
							border: 3px solid #dadada;
							div {
								width: 50px;
								height: 50px;
								text-align: center;
								background: #fff;
								border-radius: 50%;
								padding: 15px;
								border: 1px solid #c7c7c7;
								font-size: 25px;
								font-family: "Gotham Bold";
								position: relative;
								margin: auto;
								span {
									position: absolute;
									left: 17px;
									top: 7px;
								}
							}
						}
						&.average {
							background: #78cd18;
							border-right: 3px solid #dadada !important;
						}
						&.mirror {
							background: #ffe401;
							border-right: 3px solid #dadada !important;
						}
					}
					td:nth-child(odd) {
						border-right: 3px solid #dadada !important;
					}
				}
			}
		}
    }	
}
