osg-program-designer-program-filter{
    display: block;
    margin-bottom: 30px;
    .title {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 5px;

        h3 {
            @include section-title;
			&:after{
                content: "";
                background: #b7b7b7;
                display: block;
                width: 100%;
                height: 1px;
                margin-top: 15px;
                @include media-breakpoint-down(md){
                    display: none;
                }
            }
            span {
                color: $light-blue;
            }
        }
    }
    .filter-box{
        display: block;
        position: relative;
        background: #000;
        padding: 20px;
		border-top: 5px solid #ffa600;
		
        h4{
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #fff;
            font-weight: bold;
			font-family: "Gotham Bold";
        }
        .checbox-dropdown{
            .custom-checkbox{
                display: inline-block;
                width: 15%;
                .checkmark{
					background: #000;
					border-color: #7d7d7d;
                }
                label input:checked ~ .checkmark{
                    border-color: $green;
                }
            }
            .dropdown{
                display: inline-block;
                width: 85%;
            }
        }
        .dropdown{
            .btn{
                font-size: 0.8rem;
                &:focus{
                    box-shadow: none;
                }
                &:hover,
                &:focus{
                    border-color: #252525 !important;
					&:before{
						background: #000 !important;
					}
					&:after{
						color: #7d7d7d !important;
					}
                }
            }
            &.with-label{
                .btn{
                    padding-top: 15px;
                }
            }
            label{
                display: block;
                color: #838383;
                font-weight: normal;
                font-size: 10px;
                position: absolute;
                top: 5px;
                left: 15px;
                pointer-events: none;
                margin-bottom: 0px;
            }
            &.white-dropdown{
                .btn{
                    text-align: left;
					border: solid 1px #252525;
                    color: #fff;
                    font-size: rem(14);
                    border-radius: 0px;
                    height: 44px;
                    background: #252525;
					font-family: "Gotham Bold";
                }
                .dropdown-menu {
                  background: #252525;
                  border-radius: 0;
                  width: 100%;
                  color: #8c8c8c;
                  padding: 0px;
                  margin: 1px 0px 0px;
                  a {
                    color: #8c8c8c;
                    border-bottom: 1px solid #393939;
                    padding: 10px;
                    font-size: 1rem;
                    &:hover,&:focus {
						background: #323232;
						color: #c4c4c4;
                    }
                  }

                }
                .dropdown-toggle{
                    &:before{
                        display: block;
                        content: "";
                        background: #000;
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        right: 35px;
                        pointer-events: none;
                    }
                    &:after{
                        float: right;
                        margin-top: 5px;
                        color: #7d7d7d;
                    }
                }
                .dropdown-menu{
                    width: 100%;
                }
            }
        }
        .actions{
            @extend .row;
            @extend .mt-3;
            .btn{
                font-size: 0.8rem;
                font-weight: bold;
            }
            .gender{
                @extend .row;
                h4{
                    @extend .col-12;
                    @extend .col-sm-2;
					color: #fff;
                }
                p{
                    @extend .col-auto;
                    color: #838383;
                    font-size: rem(14);
                    margin-bottom: 0;
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
