osg-program-designer-program-design {
    .title {
        display: block;
        width: 100%;
        border-bottom: solid 1px #b7b7b7;
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            @include section-title;

            span {
                color: $light-blue;
                display: inline-block;
            }
			
			@media (min-width: 320px) {
				margin-top: 7.5rem;
			}
			@media (min-width: 1280px) {
				margin-top: 20px;
			}
        }

        .sort-box {
            font-weight: bold;
            font-size: rem(14);
            font-family: $secondary-font;

            p {
                display: inline-block;
                color: #ababab;
                text-transform: uppercase;
                font-size: rem(14);
            }

            .dropdown {
                display: inline-block;
                outline: none;

                .btn {
                    background: transparent;
                    outline: none;
                    font-weight: bold;
                    font-size: rem(14);
                    font-family: $secondary-font;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
    }
	.table-program-design {
		.table-responsive {
			.table {
				@media (min-width: 320px) {
					width: 1420px;
				}
			}
		}
	}
    .table-top-program {
        thead {
            tr {
                th {
                    border: none;
                    font-family: $fourth-font;

                    &:nth-child(2) {
                        background: #FFF;
                        text-transform: uppercase;
                        font-family: $primary-font;
                        font-size: rem(14);
                        color: #000;
                        border-top: 2px solid #78cd18;
                        border-right: 2px solid #78cd18;
                        border-left: 2px solid #78cd18;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    background: #FFF;
                    border: 1px solid #dadada;
                    font-size: rem(14);
                    padding: 0.55rem;
                    color: #000;

                    &.orange {
                        background: #fff0cf;
                    }

                    &.green {
                        background: #e8fecd;
                    }

                    &.blue {
                        background: #f0feff;
                    }
                }
                &:not(:nth-child(2)){
                    td{
                        &:last-child {
                            border-right: 2px solid #78cd18;
                        }
                    }
                }

                &:nth-child(odd) {
                    td {
                        &:first-child,
                        &:nth-child(2) {
                            color: #838383;
                        }
                        &:nth-child(2) {
                            border-right: 2px solid #78cd18;
                        }
                    }
                }

                &:last-child {
                    td {
                        border-bottom: 2px solid #78cd18;
                    }
                }

                &:first-child,
                &:nth-child(2) {
                    td {
                        font-size: rem(14);
                        color: #000 !important;
                    }
                }

                &:first-child {
                    td {
                        vertical-align: middle;
                        border-top: 2px solid #78cd18;

                        &:first-child,
                        &:nth-child(2){
                            border-top: 2px solid #dadada;
                        }
                    }
                }

            }
        }
    }
}
