osg-program-designer-training-calendar {
    display: block;
    border-bottom: solid 1px #bfbfbf;
    margin-bottom: 20px;

    .title {
        @extend .row;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;

        h3 {
            @include section-title;

            span {
                color: $light-blue;
                display: inline-block;
            }
        }

        .control-slider {
            p {
                display: inline-block;
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: rem(18);
                margin: 0px;
            }

            a {
                display: inline-block;
                width: 31px;
                height: 31px;
                background: #000;
                color: #FFF;
                text-align: center;
                border-radius: 5px;
                line-height: 31px;
                font-size: rem(20);
                margin-left: 10px;
            }
        }

        .btn {
            font-size: rem(14);
        }
    }
	
	@media (min-width: 320px) {
		.title {
			margin-top: 7.5rem;
			text-align: center;
			.btn {
				margin-top: 20px;
			}
		}
	}
	@media (min-width: 1280px) {
		.title {
			margin-top: 20px;
			text-align: initial;
		}
	}
	
	@media (min-width: 1440px) {
		.title {
			.btn {
				margin-top: 0px;
			}
		}
	}
	
    .conventions {
        display: block;
        text-align: center;
		width: 100%;
        p {
            color: #838383;
            font-size: rem(14);
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;

            span {
                display: inline-block;
                width: 40px;
                height: 3px;
                margin-right: 10px;
            }

            &.training-days {
                span {
                    border-top: solid 3px $light-blue;
                }
            }

            &.test-days {
                span {
                    border-top: dashed 3px #ff7200;
                }
            }
        }
    }

    .calendar {
        display: block;
        padding-bottom: 20px;

        .week-days {
            @extend .row;
            text-align: center;
            font-size: rem(14);
            margin-bottom: 10px;
        }

        .wrapper-weeks {
            .week {
                @extend .row;
                @extend .no-gutters;

                .day {
                    @extend .col;
                    padding-right: 2px;
                    padding-left: 2px;
					
					@media (min-width: 1920px) {
						padding-right: 5px;
						padding-left: 5px;
						background: #f5f5f5;
					}
                    div {
                        display: block;
                        background: #FFF;
                        border-left: solid 1px #dadada;
                        border-right: solid 1px #dadada;
                        border-bottom: solid 2px #bcbcbc;
                        margin-bottom: 10px;
                        height: 180px;
                        position: relative;
                        padding: 30px rem(10) rem(10);
                        cursor: pointer;
                        transition: all 0.2s linear;

                        p {
                            font-size: rem(14);
                            color: #838383;
                            display: block;
                        }

                        b {
                            font-size: rem(14);
                            color: #000;
                            display: block;
                        }

                        .time {
                            display: block;
                            position: absolute;
                            top: rem(8);
                            left: rem(10);
                            color: #838383;
                            font-size: rem(14);
                            transition: all 0.2s linear;
                        }
                    }

                    &.training-days {
                        div {
                            border-bottom-color: #4ba6f4;
                            border-left-color: #cae1f5;
                            border-right-color: #cae1f5;
                            background: #e2f2ff;

                            .time {
                                color: $light-blue;
                            }
                        }
                    }

                    &.test-days {
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 3%;
                            left: 3%;
                            border: dashed 2px $orange;
                            width: 94%;
                            height: 84%;
                        }
                    }

                }
            }
        }
    }
}
