<h2>PROGRESSIVE OVERLOAD GRAPH</h2>
<div class="graph">
    <div [id]="progressiveOverloadGraphId"></div>
    <div class="week-types">
        <div class="article_type">
            <p>Type of week:</p>
        </div>
        <div>
            <div>
                <span>Week 1</span>
                <span>Test & training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 2</span>
                <span>Training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 3</span>
                <span>Training week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 4</span>
                <span>Deload week</span>
            </div>
        </div>
        <div>
            <div>
                <span>Week 5</span>
                <span>Training week</span>
            </div>
        </div>
    </div>
    <div class="conventions">
        <div class="dropdown">
            <p>Muscle Group:</p>
            <button class="btn btn-border dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: rgb(181, 239, 255);">Chest</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                
                <a class="dropdown-item" href="#">Chest</a>
                <a class="dropdown-item" href="#">Shoulders</a>
                <a class="dropdown-item" href="#">Triceps</a>
                <a class="dropdown-item" href="#">Back</a>
                <a class="dropdown-item" href="#">Biceps</a>
                <a class="dropdown-item" href="#">Quadriceps</a>
                <a class="dropdown-item" href="#">Hamstrings</a>
                <a class="dropdown-item" href="#">Calves</a>
                <a class="dropdown-item" href="#">Shoulder</a>
                <a class="dropdown-item">-- Select -- </a>
            </div>
        </div>
        <p class="volume"><span></span>Total volume (set x reps)</p>
        <p class="intensity"><span></span>Average intensity (% of 1 RM)</p>
        <p class="volume-load"><span></span>Total volume load (set x reps x load)</p>
        <p class="frequency"><span></span>Frequency (sessions per week)</p>
        <div class="control-slider">
            <a href="" class="btn-control prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="" class="btn-control next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>