osg-strength-athlete-timeline {
    display: block;
    margin-bottom: 30px;

    .title {
        display: block;
        width: 100%;
        border-bottom: solid 1px #b7b7b7;
        padding-bottom: 10px;
    }

    h3 {
        @include section-title;
        float: left;
    }

    .control-slider {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #000;
            color: #FFF;
            text-align: center;
            border-radius: 5px;
            line-height: 40px;
            font-size: rem(20);
            margin-left: 10px;
        }
    }

    .timeline-table {
        display: block;
        margin-top: 30px;

        table {
            thead {
                tr {
                    th {
                        background: #fff6e1;
                        color: #000;
                        font-family: $fourth-font;
                        font-weight: bold;
                        font-size: rem(14);
                        text-transform: uppercase;
                        border-top: none;
                        border-bottom: 1px solid #dadada;
                        border-right: solid 1px #dadada;
                        padding: 0.75rem 0.55rem;
                    }

                    &:first-child {
                        th {
                            border-top: solid 1px #dadada;

                            &:first-child {
                                background: transparent;
                                border-top: none;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-bottom: 1px solid #dadada;
                        border-right: 1px solid #dadada;
                        position: relative;
                        vertical-align: middle;
                        padding: 0.75rem 0.55rem;

                        &:first-child {
                            background: #fff6e1;
                            color: #000;
                            font-family: $fourth-font;
                            font-size: rem(14);
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        &:not(:first-child) {
                            font-size: rem(14);
                            color: #838383;
                            background: #FFF;
                        }

                        span {
                            display: block;

                            &.pause {
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0px;
                                left: 0px;
                                background: #ff7200;
                            }

                            &.good {
                                background: #96d94e;
                                width: 100%;
                                border-radius: 8px;
                                height: 15px;
                            }

                            &.ok {
                                background: $orange;
                                width: 100%;
                                border-radius: 8px;
                                height: 15px;
                            }

                            &.need-improvement {
                                background: $red;
                                width: 100%;
                                border-radius: 8px;
                                height: 15px;
                            }
                        }
                    }

                    &.program {
                        td:not(:first-child) {
                            color: $light-blue;
                            background: #fffbf3;
                        }
                    }

                    &:last-child {
                        td {
                            background: #fffbf3;

                            a {
                                color: #000000;
                                font-size: rem(14);

                                span {
                                    background: #000;
                                    color: $yellow;
                                    text-align: center;
                                    display: inline-block;
                                    width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                    border-radius: 3px;
                                    margin-right: 5px;
                                }

                                &.added {
                                    color: $light-blue;
                                }

                                &:hover {
                                    text-decoration: none;
                                }
                            }

                            &:first-child {
                                background: none;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .conventions {
        p {
            color: #838383;
            font-size: rem(14);
            display: inline-block;
            margin-left: 15px;
            &.pause{
                span{
                    display: inline-block;
                    width: 35px;
                    height: 9px;
                    background: #ff7200;
                }
            }
            &.good{
                span{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background: #96d94e;
                }
            }
            &.ok{
                span{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background: $orange;
                }
            }
            &.need-improvement{
                span{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    background: $red;
                }
            }
            &.add-trainer{
                span{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    color: $yellow;
                    border-radius: 3px;
                    background: #000;
                    text-align: center;
                }
            }
        }
    }
}
