osg-strength-athlete-training-calendar {
    .title {
        display: block;
        width: 100%;
        border-bottom: solid 1px #c0dcd7;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            @include section-title;
            float: left;
        }

        .control-slider {
		    text-align: right;
            p {
                display: inline-block;
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: rem(18);
                margin: 0px;
            }

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: #000;
                color: #FFF;
                text-align: center;
                border-radius: 5px;
                line-height: 40px;
                font-size: rem(20);
                margin-left: 10px;
            }
        }

        .edit {
            display: block;
            float: right;
            width: 20px;
            filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(0);
        }
    }
	
	.responsive-calendar {
		width: 100%;
		
		@media only screen and (max-width: 768px) {
			overflow-x: auto;
		}
		
		.conventions {
			display: block;
			text-align: center;
			width: 100%;		
			
			@media only screen and (max-width: 768px) {
				width: 997px;
			}
			
			p {
				color: #838383;
				font-size: rem(14);
				display: inline-block;
				margin-right: 10px;
				margin-left: 10px;

				span {
					display: inline-block;
					width: 40px;
					height: 3px;
					margin-right: 10px;
				}

				&.test {
					span {
						border-top: dashed 3px $orange;
					}
				}

				&.completed {
					span {
						border-top: solid 3px $dark-green;
					}
				}

				&.missed {
					span {
						border-top: solid 3px #ff7200;
					}
				}

				&.today {
					span {
						border-top: dashed 3px #a9a9a9;
					}
				}

				&.upcoming {
					span {
						border-top: solid 3px #128cf3;
					}
				}
			}
		}
			
		.calendar {
			display: block;
			padding-bottom: 20px;
			
			@media only screen and (max-width: 768px) {
				overflow-x: initial;
			}
			
			.week-days {
				@extend .row;
				text-align: center;
				font-size: rem(14);
				margin-bottom: 10px;
			}

			.wrapper-weeks {
				.week {
					@extend .row;
					@extend .no-gutters;

					.day {
						@extend .col;
						padding-right: 2px;
						padding-left: 2px;
						
						@media (min-width: 1920px) {
							padding-right: 5px;
							padding-left: 5px;
							background: #f5f5f5;
						}
						div {
							display: block;
							background: #FFF;
							border-left: solid 1px #dadada;
							border-right: solid 1px #dadada;
							border-bottom: solid 2px #bcbcbc;
							margin-bottom: 10px;
							height: 180px;
							position: relative;
							padding: 30px rem(10) rem(10);
							cursor: pointer;
							transition: all 0.2s linear;

							p {
								font-size: rem(14);
								color: #838383;
								display: block;
							}

							b {
								font-size: rem(14);
								color: #000;
								display: block;
							}

							.time {
								display: block;
								position: absolute;
								top: rem(8);
								left: rem(10);
								color: #838383;
								font-size: rem(14);
								transition: all 0.2s linear;
							}
						}

						&.completed{
							div {
								background: #f0ffdf;
								border-bottom-color: $dark-green;
								border-left-color: #d5ebbd;
								border-right-color: #d5ebbd;
								.time{
									color: $dark-green;
								}
							}
						}
						&.missed{
							div {
								background: #ffecdd;
								border-bottom-color: #ff7200;
								border-left-color: #f8d4b8;
								border-right-color: #f8d4b8;
								.time{
									color: $dark-green;
								}
							}
						}
						&.test{
							div {
								&:after{
									content: "";
									display: block;
									position: absolute;
									top: 3%;
									left: 3%;
									border: dashed 2px $orange;
									width: 94%;
									height: 94%;
								}
							}
						}
						&.today{
							div {
								&:after{
									content: "";
									display: block;
									position: absolute;
									top: 3%;
									left: 3%;
									border: dashed 2px #a9a9a9;
									width: 94%;
									height: 94%;
								}
							}
						}
						&.upcoming{
							div {
								background: #e2f2ff;
								border-bottom-color: #128cf3;
								border-left-color: #bcdbf4;
								border-right-color: #bcdbf4;
								.time{
									color: #128cf3;
								}
							}
						}
					}
				}
			}
		}
	}
}
