<h2>Workouts:</h2>
<div class="container-box">
   <div class="subtitle">
      <h3>Workout <span>4</span></h3>
   </div>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th></th>
               <th colspan="2">Volume</th>
               <th colspan="2">Intensity</th>
               <th colspan="3"></th>
            </tr>
            <tr>
               <th style="padding-right: 9px!important;">Exercise</th>
               <th>Set</th>
               <th>Reps</th>
               <th>RTF <br>(REPS TO <br>FAILURE)</th>
               <th>Load<br>(% of 1 rm)</th>
               <th>Method</th>
               <th>Tempo/sec<br>(DOWN-Hold-up)</th>
               <th>Rest period <br> (min : sec)</th>
            </tr>
         </thead>
         <tbody>
            <tr></tr>
            <!-- 1:1 -->
            <tr>
               <td><label>SQUATS</label></td>
               <td>1</td>
               <td><input type="text" value="12" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td><input type="hidden" value="@ 1" class="form-control"></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            <!-- 1:2 -->
            <tr>
                  <td></td>
                  <td>2</td>
                  <td><input type="text" value="12" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
            <!-- 1:3 -->
            <tr>
                  <td></td>
                  <td>3</td>
                  <td><input type="text" value="12" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
            <!-- 1:4 -->
            <tr>
               <td><a class="add fa-add-tbl" href="">+</a><a class="remove fa-rmv-tbl" href="">-</a></td>
               <td>4</td>
               <td><input type="text" value="12" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>




            <!-- 2:1 -->
            <tr>
               <td>Lunges</td>
               <td>1</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            <!-- 2:2 -->
            <tr>
                  <td></td>
                  <td>2</td>
                  <td><input type="text" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
            <!-- 2:3 -->
            <tr>
                  <td></td>
                  <td>3</td>
                  <td><input type="text" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
               <!-- 2:4 -->
            <tr>
               <td><a class="add fa-add-tbl" href="">+</a><a class="remove fa-rmv-tbl" href="">-</a></td>
               <td>4</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>

            <!-- 3:1 -->
            <tr>
               <td>Leg Press</td>
               <td>1</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            <!-- 3:2 -->
            <tr>
                  <td></td>
                  <td>2</td>
                  <td><input type="text" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
               <!-- 3:3 -->
               <tr>
                     <td></td>
                     <td>3</td>
                     <td><input type="text" class="form-control"></td>
                     <td class="d-flex">
                        <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                        <input class="form-control" type="text" value="1">
                     </td>
                     <td></td>
                     <td>
                        <select class="form-control" (change)="changeColor($event)">
                           <option *ngFor="let option of options">{{option}}</option>
                        </select>
                     </td>
                     <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                     <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
                  </tr>
                  <!-- 3:4 -->
            <tr>
               <td><a class="add fa-add-tbl" href="">+</a><a class="remove fa-rmv-tbl" href="">-</a></td>
               <td>4</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            
            <!-- 4:1 -->
            <tr>
               <td>Leg Extension</td>
               <td>1</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            <!-- 4:2 -->
            <tr>
                  <td></td>
                  <td>2</td>
                  <td><input type="text" class="form-control"></td>
                  <td class="d-flex">
                     <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                     <input class="form-control" type="text" value="1">
                  </td>
                  <td></td>
                  <td>
                     <select class="form-control" (change)="changeColor($event)">
                        <option *ngFor="let option of options">{{option}}</option>
                     </select>
                  </td>
                  <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
                  <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
               </tr>
            <!-- 4:3 -->
            <tr>
               <td><a class="add fa-add-tbl" href="">+</a><a class="remove fa-rmv-tbl" href="">-</a></td>
               <td>3</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
            <!-- 4:4 -->
            <tr>
               <td></td>
               <td>4</td>
               <td><input type="text" class="form-control"></td>
               <td class="d-flex">
                  <p style="padding-right: 5px;font-size: 15px;margin-bottom:0px;">@</p>
                  <input class="form-control" type="text" value="1">
               </td>
               <td></td>
               <td>
                  <select class="form-control" (change)="changeColor($event)">
                     <option *ngFor="let option of options">{{option}}</option>
                  </select>
               </td>
               <td><input type='text' mask="0-0-0" class="form-control" placeholder="--"></td>
               <td><input type='text' mask="0:00" class="form-control" placeholder=":"></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="actions">
      <div class="row justify-content-between">
         <div class="col-12 col-sm-12 col-xl-8"><a class="btn btn-black" href=""><span>+</span> ADD EXERCISE</a><a class="btn btn-gray" href="">REMOVE EXERCISE</a></div>
         <div class="col-12 col-sm-12 col-xl-4 text-center text-sm-right mt-4 mt-sm-0"><a class="btn btn-black" href=""><img alt="" src="images/save.png"> SAVE WORKOUT</a></div>
      </div>
   </div>
</div>