footer {
    background: black;
    color: white;
    padding: 50px 0px 20px 0px;

    h3 {
        color: $yellow;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: rem(18);
        margin: 0px 0px 30px 0px;

        &.no-blur {
            text-shadow: none;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: $secondary-font;

        li {
            display: block;
            margin-bottom: 15px;
            font-size: rem(14);

            a {
                color: #FFF;
                transition: all 0.2s linear;
                &:hover{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-info {
        color: #FFF;
        display: block;
        border-top: solid 1px $gray;
        font-family: $third-font;
        margin: 40px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
        font-size: rem(14);

        .logo-footer {
            width: 50px;
            margin-right: 10px;
        }

        a {
            color: #FFF;
        }
        p {
            font-family: $secondary-font;
            font-size: rem(14);
        }
    }
}
