header {
    nav {
        background: #000;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        &.navbar {
            padding-top: 31px;
            padding-bottom: 31px;
            font-family: $fourth-font;

            .navbar-toggler {
                outline: none;
                padding: 0px;
                width: 40px;
                height: 30px;
                position: relative;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;

                span {
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background: $yellow;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: 0px;
                    }

                    &:nth-child(2) {
                        top: 12px;
                    }

                    &:nth-child(3) {
                        top: 24px;
                    }
                }
                @include media-breakpoint-down(md) {
                    position: absolute;
                    right: 0px;
                    top: -15px;
                }
            }

            .navbar-brand {
                background: black;
                padding: rem(35);
                border-radius: 50%;
                position: absolute;
                top: -50px;
                z-index: 10;
                left: -15px;
                width: 200px;
                margin: 0px;
                transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;

                @include media-breakpoint-down(md) {
                    width: 120px;
                }
            }

            .menu-box {
                font-size: 16px;
                @include media-breakpoint-down(md) {
                    padding-top: 50px;
                    text-align: center;
                }

                li {
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: rem(14);
                    @include media-breakpoint-down(xs) {
                        text-align: center;
                    }

                    a {
                        color: #FFF;
                        text-transform: uppercase;
                        transition: all 0.2s linear;
                        &:hover{
                            color: $yellow;
                        }
                    }
                    &.active{
                        a{
                            color: $yellow;
                        }
                    }
                }
            }

            .nav-session {
                font-size: rem(12);
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                text-transform: uppercase;

                @include media-breakpoint-up(md) {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    text-align: center;
                }
                @include media-breakpoint-down(md) {
                    justify-content: center;
                    text-align: center;
                }

                &:before {
                    content: "";
                    background: $gray;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }

                li {
                    margin-left: 10px;

                    a {
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;
                        display: block;
                        padding: 0.5rem 1rem;

                        &.white-text {
                            color: $white;
                            font-size: rem(14);
                            font-family: $fourth-font;
                        }

                        &.btn {
                            font-size: rem(14);
                            font-family: $fourth-font;
                        }
                    }
                }
            }

            &.sticky {
                padding-top: 10px;
                padding-bottom: 10px;
                @include media-breakpoint-down(md) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .navbar-brand{
                    transform: scale(0.4);
                    transform-origin: center top;
                    top: -20px;
                    @include media-breakpoint-down(md) {
                        transform: scale(1);
                        top: -50px
                    }
                }
            }
        }
    }
}
