<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-9">
    <div class="title">
      <div class="col-12 col-sm-5">
        <h3>EXPERIENCE BANK: <br>
          MY CLIENTS RESULTS</h3>
      </div>
      <div class="col-12 col-sm-auto">
        <div class="filter-box">
          <p>GENDER:</p>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">MEN</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Men</a>
              <a class="dropdown-item" href="#">Women</a>
            </div>
          </div>
          <p>Category:</p>
          <div class="dropdown">
            <button class="btn dropdown-toggle text-red" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">HYPERTROPHY</button>
            <div class="dropdown-menu dropdown-menu-right text-right dropdown-black" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-blue" href="#">Strength</a>
              <a class="dropdown-item text-red" href="#">HYPERTROPHY</a>
              <a class="dropdown-item text-orange" href="#">Muscular endurance</a>
              <a class="dropdown-item text-green" href="#">Power</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT</th>
                    <th>UNTRAINED</th>
                    <th>NOVICE</th>
                    <th>INTERMEDIATE</th>
                    <th>ADVANCED</th>
                    <th>ELITE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td>8,21</td>
                    <td>8,01</td>
                    <td>7,98</td>
                    <td>7,10</td>
                    <td>6,21</td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td>9,11</td>
                    <td>9,25</td>
                    <td>8,12</td>
                    <td>6,89</td>
                    <td>5,43</td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td>7,65</td>
                    <td>7,66</td>
                    <td>6,48</td>
                    <td>5,21</td>
                    <td>3,21</td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td>6,54</td>
                    <td>6,68</td>
                    <td>7,21</td>
                    <td>5,12</td>
                    <td>4,47</td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td>4,41</td>
                    <td>5,54</td>
                    <td>6,81</td>
                    <td>3,41</td>
                    <td>2,21</td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td>6,87</td>
                    <td>5,54</td>
                    <td>4,83</td>
                    <td>2,19</td>
                    <td>1,12</td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td>8,57</td>
                    <td>7,23</td>
                    <td>6,57</td>
                    <td>4,12</td>
                    <td>3,49</td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td>7,21</td>
                    <td>3,21</td>
                    <td>3,43</td>
                    <td>5,43</td>
                    <td>6,64</td>
                </tr>
                <tr>
                    <td><b>STRENGTH ATHLETES:</b></td>
                    <td>12</td>
                    <td>5</td>
                    <td>9</td>
                    <td>5</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><b>PROGRAMS:</b></td>
                    <td><span>Ladder Strength<br> 5x5 <br> Giant Gains</span></td>
                    <td><span>GVT <br> Starting Strength</span></td>
                    <td><span>Myo Reps <br> Pyramid Strength <br> Westside Barbell</span></td>
                    <td><span>5x5 <br>Pre-Exhaust <br>Height Strength</span></td>
                    <td><span>Base Lifts <br>Powerbuilding <br> GVT </span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <small>* The numbers in the table shows percentage increase (results) from all completed programs where the personal trainer has assisted the strength athlete. The number in each cell shows the median for a particular level and weight class. The median is the middle value when al the strength athletes percentage increase are listed in numerical order from the lowest to the highest results</small>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-3">
    <h3 class="my-3">REVIEWS: 50</h3>
    <div class="review-box">
        <div class="review">
            <div class="rating">
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <p class="name">Alex James</p>
            <p>Best coach I have worked with! </p>
        </div>
        <div class="review">
            <div class="rating">
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <p class="name">Clara Smith</p>
            <p>Passion and dedication! Recommended!</p>
        </div>
        <button class="btn btn-black btn-block text-uppercase py-2">
            ALL REVIEWS</button>
    </div>

    <h3 class="mt-4 mb-2">AVERAGE</h3>
    <div class="average-box">
        <div class="average">
            <p>Customer Satisfaction</p>
            <div class="rating good">
                <span class="fa-stack good">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack good">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack good">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack good">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <p>Good!</p>
            </div>

        </div>
        <div class="average">
            <p>Coaching</p>
            <div class="rating excellent">
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack excellent">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <p>Excellent!</p>
            </div>
        </div>

        <div class="average">
            <p>Worth the money</p>
            <div class="rating middle">
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack middle">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <p>Middle</p>
            </div>
        </div>
        <button class="btn btn-black btn-block text-uppercase py-2"> WRITE REVIEW</button>
    </div>
  </div>

</div>
