<div>
    <osg-profile-about-me profile="Personal Trainer" [text]="applicationUser.profile.description" [education]="applicationUser.profile.education" [specialities]="applicationUser.profile.special" [experience]="applicationUser.profile.experience" [country]="applicationUser.profile.country" [location]="applicationUser.profile.location" [email]="applicationUser.email"></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div>
    <osg-personal-trainer-offers></osg-personal-trainer-offers>
    <osg-personal-trainer-experience-bank></osg-personal-trainer-experience-bank>
    <osg-personal-trainer-booking-calendar></osg-personal-trainer-booking-calendar>
    <osg-get-started view="primary" [sections]="getStartedSections"></osg-get-started>
</div>