@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin yellowGradient {
    background: rgba(255, 191, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 191, 0, 1) 0%, rgba(255, 145, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 191, 0, 1)), color-stop(100%, rgba(255, 145, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 191, 0, 1) 0%, rgba(255, 145, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 191, 0, 1) 0%, rgba(255, 145, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 191, 0, 1) 0%, rgba(255, 145, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 191, 0, 1) 0%, rgba(255, 145, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf00', endColorstr='#ff9100', GradientType=0);
}

@mixin greenGradient {
    background: rgba(80, 177, 0, 1);
    background: -moz-linear-gradient(top, rgba(80, 177, 0, 1) 0%, rgba(63, 141, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80, 177, 0, 1)), color-stop(100%, rgba(63, 141, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 177, 0, 1) 0%, rgba(63, 141, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(80, 177, 0, 1) 0%, rgba(63, 141, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(80, 177, 0, 1) 0%, rgba(63, 141, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(80, 177, 0, 1) 0%, rgba(63, 141, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50b100', endColorstr='#3f8d00', GradientType=0);
}

.custom-checkbox {
    margin: 0px;
    display: inline-block;
    position: relative;

    input[type="checkbox"] {
        position: absolute;
        right: 9000px;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #f5f5f5;
        border: solid 1px #f5f5f5;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    label {
        padding-left: 35px;
        font-size: rem(16);

        &:hover input~.checkmark {
            background-color: #f5f5f5;
        }

        /* input:checked~.checkmark {
            background-color: #FFF;
            border-color: #2ebf0d;
        } */
        input:checked~.checkmark:after {
            display: block;
        }

        .checkmark:after {
            left: 8px;
            top: 2px;
            width: 8px;
            height: 16px;
            border: solid #2ebf0d;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}


.form-material-design {
    position: relative;
    padding: 0px;

    label {
        position: absolute;
        font-weight: 400;
        color: #000;
        font-size: rem(16);
        top: 13px;
        padding: 0px 0 0 15px;
        transition: all 200ms;
        margin: 0px;
        pointer-events: none;

        &.labelfocus {
            font-size: 75%;
            transform: translate3d(0, -50%, 0);
        }
    }

    .form-control {
        padding: 20px 5px 3px 15px;
        border-radius: 0px;
        color: #000;
        border: none;
        height: auto;

        &:focus {
            box-shadow: none;
        }
    }
    select{
        background: #FFF url(/images/arrow-black-select.png) no-repeat 95% center;
        background-size: auto 50%;
        appearance: none;
        -moz-appearance: none;
        -ms-progress-appearance: none;
        -webkit-appearance: none;
        & + label{
            font-size: 75%;
            transform: translate3d(0, -50%, 0);
        }
    }
}
