osg-calendar-builder {
    display: block;

    .container-box {
        background: #FFF;
        position: relative;
        display: block;
        border-bottom: solid 2px #a9a9a9;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 20px;

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 3px;
            background: rgba(226, 134, 42, 1);
            background: -moz-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226, 134, 42, 1)), color-stop(100%, rgba(255, 166, 0, 1)));
            background: -webkit-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -o-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: -ms-linear-gradient(left, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            background: linear-gradient(to right, rgba(226, 134, 42, 1) 0%, rgba(255, 166, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2862a', endColorstr='#ffa600', GradientType=1);
        }
    }

    .general-actions {
        @extend .col;
		&.text-right {
			@media (min-width: 320px) {
				margin-right: 0px;
			}
			@media (min-width: 1280px) {
				margin-right: 45px;
			}
		}
        .btn {
            font-size: rem(14);

            img {
                width: 15px;
            }

            &:first-child {
                margin-right: 15px;
                font-weight: bold;
            }

            &.btn-next {
                position: relative;
                padding: 0.55rem 2.5rem 0.55rem 1rem;
                -webkit-clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
                clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);

                &:after {
                    display: block;
                    content: "\f105";
                    font: normal normal normal 25px/1 FontAwesome;
                    color: #fff;
                    position: absolute;
                    right: 8px;
                    top: 2px;
                }
            }
        }
    }

    @import "exercises";
    @import "workouts";
    @import "calendar";
}
