<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/logo.png" class="img-fluid d-block mx-auto" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto left-menu">
                <li *ngIf="isProgramDesigner" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/calendar-builder')">
                        <img src="assets/images/icons/icon-plan.svg">
                        Calendar Builder
                    </a>
                </li>
                
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/experience-bank')">
                        <img src="/assets/images/icons/icon-house.svg">
                        Experience Bank
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/strength-standards')">
                        <img src="/assets/images/icons/icon-strength.svg">
                        Strength Standards
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/program-designs')">
                        <img src="/assets/images/icons/icon-gear.svg">
                        Program Designs
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="isMobile">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/workout-log')">
                        <img src="/assets/images/icons/workout-log.png">
                        Workout Log
                    </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="link('/contacts')">
                        <img src="assets/images/icons/icon-contacts.svg">
                        Contacts
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-center right-menu">
                <li class="nav item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  (click)="link('/')" data-toggle="collapse" data-target="#navbarSupportedContent" class="nav-link"><img class="d-block mx-auto img-fluid" src="assets/images/icons/icon-home.svg"></a>
                </li>
                <li class="nav item" routerLinkActive="active">
                    <a  (click)="link('/notifications')" data-toggle="collapse" data-target="#navbarSupportedContent" class="nav-link"><img class="d-block mx-auto img-fluid" src="assets/images/icons/icon-notifications.svg"></a>
                </li>
                <li class="nav item" routerLinkActive="active">
                    <a  (click)="link('/info')" data-toggle="collapse" data-target="#navbarSupportedContent" class="nav-link"><img class="d-block mx-auto img-fluid" src="assets/images/icons/icon-info.svg"></a>
                </li>
                <li class="nav item" >
                    <a (click)="logout()" data-toggle="collapse" data-target="#navbarSupportedContent" class="nav-link"><img class="d-block mx-auto img-fluid" src="assets/images/icons/icon-logout.svg"></a>
                </li>
                <li class="nav item profile" routerLinkActive="active">
                    <a  (click)="link('/profile')" data-toggle="collapse" data-target="#navbarSupportedContent" lass="nav-link"><img class="img-fluid ml-3 ml-lg-2 ml-xl-1" src="assets/images/icons/icon-account.svg">{{fullName}}</a>
                </li>
                
            </ul>

            <form #logoutForm ngNoForm id="logout-form" action="/logout" method="POST" style="display: none;">
                <input type="hidden" name="_token" value="{{csrf}}" />
            </form>
        </div>
    </div>
</nav>
