<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>EXPERIENCE BANK: <span>GVT</span></h3>
    </div>
  </div>
</div>

<h4>TEST EXPERIENCE: <span>BENCH PRESS</span> (MEN) · Your expected results</h4>

<div class="row ml-0">
  <div class="category-group">
    <div class="category-row">
      <div class="category-box">
        <div class="type">
          <label>level:</label>
          <input type="text" placeholder="Advanced">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>body weight:</label>
          <input type="text" placeholder="101 - 110">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>waist hip ratio:</label>
          <input type="text" placeholder="0,91 - 1,00">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>age:</label>
          <input type="text" placeholder="31 - 40">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
    </div>
    <div class="category-row">
      <div class="category-box">
        <div class="type">
          <label>height:</label>
          <input type="text" placeholder="181 - 190">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>muscle fiber:</label>
          <input type="text" placeholder="Slow twich">
        </div>
        <div class="results">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>your mirror athletes:</label>
        </div>
        <div class="results mirror">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
      <div class="category-box">
        <div class="type">
          <label>average:</label>
        </div>
        <div class="results average">
          <div class="item">
            <label>results(% increase):</label>
            <p>2,33%</p>
          </div>
          <div class="item">
              <label>no. of completions:</label>
              <p>330</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p><span>Your mirror athletes:</span> strength athlete that have completed the program and who matches all of your input values. The % increase value shows your expected results if you start and complete the program, based on others actual achieved results.</p>
<p><span>Average:</span> average results of all the single % increase values. Average shows estimated expected results if your start and complete the program.</p>


<div class="row">
  <div class="col-12 col-lg-12">
    <div class="table-responsive">
      <h4>TEST EXERCISE: <span> BENCH PRESS</span> (MEN) · Top 3 results</h4>
      <table class="table bank-table">
        <thead>
          <tr>
            <th>RANK</th>
            <th class="variable">VARIABLE</th>
            <th colspan="2" class="untrained">UNTRAINED</th>
            <th colspan="2" class="novice">NOVICE</th>
            <th colspan="2" class="intermediate">INTERMEDIATE</th>
            <th colspan="2" class="advanced">ADVANCED</th>
            <th colspan="2" class="elite">ELITE</th>
          </tr>
        </thead>
        <tbody>
          <!--top 1 data-->
          <tr>
            <td rowspan="8" class="rank"><div><span>1</span></div></td>
          </tr>
          <tr>
            <td class="variable">Body Weight (kg)</td>
            <td class="untrained">101 - 110</td>
            <td class="untrained">5,21%</td>
            <td class="novice">81 - 90</td>
            <td class="novice">4,31%</td>
            <td class="intermediate">71 - 80</td>
            <td class="intermediate">4,21%</td>
            <td class="advanced">91 - 100</td>
            <td class="advanced">4,10%</td>
            <td class="elite">71 - 80</td>
            <td class="elite">3,70%</td>
          </tr>
          <tr>
            <td class="variable">Waist-Hip-Ratio (cm)</td>
            <td class="untrained">0,91 - 1,00</td>
            <td class="untrained">5,17%</td>
            <td class="novice">0,81 - 0,90</td>
            <td class="novice">4,21%</td>
            <td class="intermediate">1,01 - 1,10</td>
            <td class="intermediate">4,11%</td>
            <td class="advanced">0,91 - 1,00</td>
            <td class="advanced">4,05%</td>
            <td class="elite">0,81 - 0,90</td>
            <td class="elite">3,65%</td>
          </tr>
          <tr>
            <td class="variable">Age (years)</td>
            <td class="untrained">31 - 40</td>
            <td class="untrained">5,08%</td>
            <td class="novice">21 - 30</td>
            <td class="novice">4,15%</td>
            <td class="intermediate">31 - 40</td>
            <td class="intermediate">4,05%</td>
            <td class="advanced">41 - 50</td>
            <td class="advanced">3,95%</td>
            <td class="elite">31 - 40</td>
            <td class="elite">3,30%</td>
          </tr>
          <tr>
            <td class="variable">Height (cm)</td>
            <td class="untrained">181 - 190</td>
            <td class="untrained">5,06%</td>
            <td class="novice">171 - 180</td>
            <td class="novice">4,07%</td>
            <td class="intermediate">191 - 200</td>
            <td class="intermediate">3,97%</td>
            <td class="advanced">161 - 170</td>
            <td class="advanced">3,87%</td>
            <td class="elite">171 - 180</td>
            <td class="elite">3,20%</td>
          </tr>
          <tr>
            <td class="variable">Muscle Fiber Type</td>
            <td class="untrained">Slow</td>
            <td class="untrained">5,02%</td>
            <td class="novice">Fast</td>
            <td class="novice">4,41%</td>
            <td class="intermediate">Slow</td>
            <td class="intermediate">4,30%</td>
            <td class="advanced">Slow</td>
            <td class="advanced">4,20%</td>
            <td class="elite">Fast</td>
            <td class="elite">3,15%</td>
          </tr>
          <tr>
            <td class="variable">Average</td>
            <td colspan="2" class="average">5,13%</td>
            <td colspan="2" class="average">4,23%</td>
            <td colspan="2" class="average">4,13%</td>
            <td colspan="2" class="average">4,04%</td>
            <td colspan="2" class="average">3,4%</td>
          </tr>
          <tr class="mirror">
            <td class="variable">Mirror Athletes</td>
            <td colspan="2" class="mirror">NO DATA YET</td>
            <td colspan="2" class="mirror">4,15%</td>
            <td colspan="2" class="mirror">4,10%</td>
            <td colspan="2" class="mirror">4,03%</td>
            <td colspan="2" class="mirror">3,61%</td>
          </tr>
          <!--top 2 data-->
          <tr>
            <td rowspan="8" class="rank"><div><span>2</span></div></td>
          </tr>
          <tr>
            <td class="variable">Body Weight (kg)</td>
            <td class="untrained">51 - 60</td>
            <td class="untrained">5,17%</td>
            <td class="novice">71 - 80</td>
            <td class="novice">4,15%</td>
            <td class="intermediate">81 - 90</td>
            <td class="intermediate">4,20%</td>
            <td class="advanced">81 - 90</td>
            <td class="advanced">4,09%</td>
            <td class="elite">91 - 100</td>
            <td class="elite">3,50%</td>
          </tr>
          <tr>
            <td class="variable">Waist-Hip-Ratio (cm)</td>
            <td class="untrained">0,81 - 0,90</td>
            <td class="untrained">5,10%</td>
            <td class="novice">1,01 - 1,10</td>
            <td class="novice">4,16%</td>
            <td class="intermediate">0,81 - 0,90</td>
            <td class="intermediate">4,01%</td>
            <td class="advanced">9,91 - 1,00</td>
            <td class="advanced">3,91%</td>
            <td class="elite">1,01 - 1,10</td>
            <td class="elite">3,40%</td>
          </tr>
          <tr>
            <td class="variable">Age (years)</td>
            <td class="untrained">21 - 30</td>
            <td class="untrained">4,90%</td>
            <td class="novice">31 - 40</td>
            <td class="novice">4,03%</td>
            <td class="intermediate">31 - 40</td>
            <td class="intermediate">3,95%</td>
            <td class="advanced">21 - 30</td>
            <td class="advanced">3,85%</td>
            <td class="elite">41 - 50</td>
            <td class="elite">2,90%</td>
          </tr>
          <tr>
            <td class="variable">Height (cm)</td>
            <td class="untrained">191 - 200</td>
            <td class="untrained">4,72%</td>
            <td class="novice">191 - 200</td>
            <td class="novice">4,12%</td>
            <td class="intermediate">181 - 190</td>
            <td class="intermediate">3,87%</td>
            <td class="advanced">161 - 170</td>
            <td class="advanced">3,77%</td>
            <td class="elite">191 - 200</td>
            <td class="elite">2,88%</td>
          </tr>
          <tr>
            <td class="variable">Muscle Fiber Type</td>
            <td class="untrained">Fast</td>
            <td class="untrained">4,75%</td>
            <td class="novice">Slow</td>
            <td class="novice">3,80%</td>
            <td class="intermediate">Slow</td>
            <td class="intermediate">4,20%</td>
            <td class="advanced">Fast</td>
            <td class="advanced">4,00%</td>
            <td class="elite">Slow</td>
            <td class="elite">2,45%</td>
          </tr>
          <tr>
            <td class="variable">Average</td>
            <td colspan="2" class="average">4,93%</td>
            <td colspan="2" class="average">4,05%</td>
            <td colspan="2" class="average">4,04%</td>
            <td colspan="2" class="average">3,93%</td>
            <td colspan="2" class="average">3,03%</td>
          </tr>
          <tr class="mirror">
            <td class="variable">Mirror Athletes</td>
            <td colspan="2" class="mirror">5,10%</td>
            <td colspan="2" class="mirror">4,11%</td>
            <td colspan="2" class="mirror">NO DATA YET</td>
            <td colspan="2" class="mirror">3,87%</td>
            <td colspan="2" class="mirror">3,07%</td>
          </tr>
          <!--top 3 data-->
          <tr>
            <td rowspan="8" class="rank"><div><span>3</span></div></td>
          </tr>
          <tr>
            <td class="variable">Body Weight (kg)</td>
            <td class="untrained">101 - 110</td>
            <td class="untrained">5,01%</td>
            <td class="novice">71 - 80</td>
            <td class="novice">4,11%</td>
            <td class="intermediate">61 - 70</td>
            <td class="intermediate">4,15%</td>
            <td class="advanced">91 - 100</td>
            <td class="advanced">4,15%</td>
            <td class="elite">91 - 100</td>
            <td class="elite">3,44%</td>
          </tr>
          <tr>
            <td class="variable">Waist-Hip-Ratio (cm)</td>
            <td class="untrained">0,91 - 1,00</td>
            <td class="untrained">5,00%</td>
            <td class="novice">0,81 - 0,90</td>
            <td class="novice">4,00%</td>
            <td class="intermediate">0,81 - 0,90</td>
            <td class="intermediate">3,93%</td>
            <td class="advanced">1,01 - 1,10</td>
            <td class="advanced">3,93%</td>
            <td class="elite">0,91 - 1,00</td>
            <td class="elite">3,30%</td>
          </tr>
          <tr>
            <td class="variable">Age (years)</td>
            <td class="untrained">21 - 30</td>
            <td class="untrained">4,72%</td>
            <td class="novice">31 - 40</td>
            <td class="novice">3,90%</td>
            <td class="intermediate">41 - 50</td>
            <td class="intermediate">3,87%</td>
            <td class="advanced">21 - 30</td>
            <td class="advanced">3,87%</td>
            <td class="elite">31 - 40</td>
            <td class="elite">3,11%</td>
          </tr>
          <tr>
            <td class="variable">Height (cm)</td>
            <td class="untrained">191 - 200</td>
            <td class="untrained">4,64%</td>
            <td class="novice">161 - 170</td>
            <td class="novice">3,80%</td>
            <td class="intermediate">171 - 180</td>
            <td class="intermediate">3,77%</td>
            <td class="advanced">161 - 170</td>
            <td class="advanced">3,77%</td>
            <td class="elite">180 - 190</td>
            <td class="elite">2,40%</td>
          </tr>
          <tr>
            <td class="variable">Muscle Fiber Type</td>
            <td class="untrained">Fast</td>
            <td class="untrained">4,50%</td>
            <td class="novice">Slow</td>
            <td class="novice">3,70%</td>
            <td class="intermediate">Slow</td>
            <td class="intermediate">4,10%</td>
            <td class="advanced">Fast</td>
            <td class="advanced">4,10%</td>
            <td class="elite">Fast</td>
            <td class="elite">2,30%</td>
          </tr>
          <tr>
            <td class="variable">Average</td>
            <td colspan="2" class="average">4,77%</td>
            <td colspan="2" class="average">3,90%</td>
            <td colspan="2" class="average">3,96%</td>
            <td colspan="2" class="average">3,85%</td>
            <td colspan="2" class="average">2,91%</td>
          </tr>
          <tr class="mirror">
            <td class="variable">Mirror Athletes</td>
            <td colspan="2" class="mirror">4,83%</td>
            <td colspan="2" class="mirror">3,97%</td>
            <td colspan="2" class="mirror">4,07%</td>
            <td colspan="2" class="mirror">3,78%</td>
            <td colspan="2" class="mirror">NO DATA YET</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p><span>Average:</span> based on the best achieved results per variable, the green fields estimate an average result (% increase) per level. Can be used if actual mirror athletes results are not yet present.</p>
<p><span>Mirror athletes:</span> based on the strength athletes that belongs to all the single intervals/category above, the yellow fields shows the median result (% increase) for each level based on actual achieved results.</p>
