<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-lg-auto col-xl-6 mb-2 mb-xl-0">
      <h3>PROGRAM DESIGN: <span>GVT</span></h3>
    </div>
    <div class="col-12 col-lg col-xl-6 text-lg-right">
      <div class="sort-box">
        <p>LEVEL:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">NOVICE</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">UNTRAINED</a>
            <a class="dropdown-item" href="#">NOVICE</a>
            <a class="dropdown-item" href="#">INTERMEDIATE</a>
            <a class="dropdown-item" href="#">ADVANCED</a>
            <a class="dropdown-item" href="#">ELITE</a>
          </div>
        </div>
        <p>Category:</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">POWER</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">STRENGTH</a>
            <a class="dropdown-item" href="#">HYPERTROPHY</a>
            <a class="dropdown-item" href="#">MUSCULAR ENDURANCE</a>
            <a class="dropdown-item" href="#">POWER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-program-design pd-pb-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
              <th rowspan="2">Muscle Group</th>
              <th rowspan="2">Test Exercise</th>
              <th rowspan="2">Exercises level 1</th>
              <th rowspan="2">Exercises Level 2</th>
              <th colspan="2" class="blue">Volume</th>
              <th colspan="2" class="red">Intensity</th>
              <th rowspan="2" class="green">Frequency<br/>(muscle gr. pr. week)</th>
              <th rowspan="2">Progression model</th>
              <th rowspan="2">Rest periods<br/>(min-max)</th>
              <th rowspan="2">Tempo<br/> (all)</th>
            </tr>
            <tr>
              <th class="blue">Reps<br/>(min-max)</th>
              <th class="blue">Volume pr week<br/>(setxreps)</th>
              <th class="red">% of 1RM<br/>(min-max)</th>
              <th class="red">Reps to failure<br/>(min-max)</th>
            </tr>
            <!--  -->
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Chest</td>
            <td rowspan="2">Bench Press</td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Back</td>
            <td rowspan="2">Deadlift</td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Quads</td>
            <td rowspan="2">Squat</td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Shoulders</td>
            <td rowspan="2"></td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Hamstrings</td>
            <td rowspan="2"></td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Calves</td>
            <td rowspan="2"></td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Triceps</td>
            <td rowspan="2"></td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
          <!--  -->
          <tr>
            <td rowspan="2">Biceps</td>
            <td rowspan="2"></td>
            <td>multi joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
            <td rowspan="2" class="green"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>single joint</td>
            <td></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="red"></td>
            <td class="red"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- 
<div class="table-top-program">
    <div class="table-responsive">
        <table class="table table-127">
            <thead>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="10">PROGRAM DESIGN</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Muscle Group</td>
                    <td rowspan="2">Best Training Program</td>
                    <td rowspan="2">Level (pretest)</td>
                    <td rowspan="2">Type of exercise</td>
                    <td rowspan="2">Exercises</td>
                    <td colspan="2" class="blue">Volume</td>
                    <td colspan="2" class="orange">Intensity</td>
                    <td rowspan="2" class="green">Frequency (muscle group per week)</td>
                    <td rowspan="2">Progression model</td>
                    <td rowspan="2">Rest periods</td>
                    <td rowspan="2">Tempo</td>
                    <td rowspan="2">Test exercise</td>
                    <td rowspan="2" class="orange">Percentage Increase</td>
                </tr>
                <tr>
                    <td class="blue">Sets</td>
                    <td class="blue">Reps</td>
                    <td class="orange">% of 1RM</td>
                    <td class="orange">Reps to failure</td>
                </tr>
                <tr>
                    <td rowspan="2">Chest</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td rowspan="2">Back</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              
                <tr>
                    <td rowspan="2">Quads</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               
                <tr>
                    <td rowspan="2">Shoulders</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              
                <tr>
                    <td rowspan="2">Hamstrings</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               
                <tr>
                    <td rowspan="2">Calves</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               
                <tr>
                    <td rowspan="2">Triceps</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               
                <tr>
                    <td rowspan="2">Biceps</td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td >multi joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="2" class="orange"></td>
                </tr>
                <tr>
                    <td>single joint</td>
                    <td></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="orange"></td>
                    <td class="orange"></td>
                    <td class="green"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->