<div>
    <osg-profile-about-me profile="Program Designer" [text]="applicationUser.profile.description" [education]="applicationUser.profile.education" [specialities]="applicationUser.profile.special" [experience]="applicationUser.profile.experience" [country]="applicationUser.profile.country" [email]="applicationUser.email"></osg-profile-about-me>
    <osg-news-feed [applicationUser]="applicationUser"></osg-news-feed>
</div>
<div>
    <osg-program-designer-published-programs></osg-program-designer-published-programs>
    <osg-program-designer-program-filter></osg-program-designer-program-filter>
    <osg-program-designer-experience-bank></osg-program-designer-experience-bank>
    <osg-program-designer-experience-reviews></osg-program-designer-experience-reviews>
    <osg-program-designer-progressive-overload-graph></osg-program-designer-progressive-overload-graph>
    <osg-program-designer-program-design></osg-program-designer-program-design>
    <osg-program-designer-training-calendar></osg-program-designer-training-calendar>
    <osg-get-started view="secondary" [sections]="getStartedSections"></osg-get-started>
</div>