<div class="title">
  <div class="row">
    <div class="col-12">
      <h3>Sort By</h3>
    </div>
  </div>
</div>

<div class="filter-box">
    <h4>Select Program</h4>
    <div class="dropdown white-dropdown with-label">
        <label for="">Program</label>
        <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">German Volume Training (GVT)
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">5x5</a>
            <a class="dropdown-item" href="#">Starting Strength</a>
            <a class="dropdown-item" href="#">X-Shape</a>
            <a class="dropdown-item" href="#">Athletic</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-xl-6">
            <h4>Men</h4>
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0 - 50</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">0-50</a>
                                <a class="dropdown-item" href="#">51-60</a>
                                <a class="dropdown-item" href="#">61-70</a>
                                <a class="dropdown-item" href="#">71-80</a>
                                <a class="dropdown-item" href="#">81-90</a>
                                <a class="dropdown-item" href="#">91-100</a>
                                <a class="dropdown-item" href="#">101-110</a>
                                <a class="dropdown-item" href="#">111-120</a>
                                <a class="dropdown-item" href="#">121-160</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Strength level </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Untrained</a>
                                <a class="dropdown-item" href="#">Novice</a>
                                <a class="dropdown-item" href="#">Intermediate</a>
                                <a class="dropdown-item" href="#">Advanced</a>
                                <a class="dropdown-item" href="#">Elite</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waist to hip ratio (cm)</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <a class="dropdown-item" href="#">0,71-0,80</a>
                                <a class="dropdown-item" href="#">0.81-0,90</a>
                                <a class="dropdown-item" href="#">0,91-1,00</a>
                                <a class="dropdown-item" href="#">1,01-1,10</a>
                                <a class="dropdown-item" href="#">1,11-1,20</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">161 - 170</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" href="#">0-150 </a>
                                <a class="dropdown-item" href="#">151-160</a>
                                <a class="dropdown-item" href="#">161-170</a>
                                <a class="dropdown-item" href="#">171-180</a>
                                <a class="dropdown-item" href="#">181-190</a>
                                <a class="dropdown-item" href="#">191-200</a>
                                <a class="dropdown-item" href="#">201-210</a>
                                <a class="dropdown-item" href="#">211-220</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age (yrs)</button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" href="#">0-20</a>
                                <a class="dropdown-item" href="#">21-30</a>
                                <a class="dropdown-item" href="#">31-40</a>
                                <a class="dropdown-item" href="#">41-50</a>
                                <a class="dropdown-item" href="#">51-60</a>
                                <a class="dropdown-item" href="#">61-80</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Muscle Fiber Type</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Slow Twitch</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <a class="dropdown-item" href="#">Slow twitch</a>
                                <a class="dropdown-item" href="#">Fast twitch</a>
                                <a class="dropdown-item" href="#">Fast and slow twitch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-6">
            <h4>Women</h4>
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Body Weight (kg)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0 - 40
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item" href="#">0-40</a>
                                <a class="dropdown-item" href="#">41-50</a>
                                <a class="dropdown-item" href="#">51-60</a>
                                <a class="dropdown-item" href="#">61-70</a>
                                <a class="dropdown-item" href="#">71-80</a>
                                <a class="dropdown-item" href="#">81-90</a>
                                <a class="dropdown-item" href="#">91-100</a>
                                <a class="dropdown-item" href="#">101-110</a>
                                <a class="dropdown-item" href="#">111-130</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Strength level</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">Untrained</a>
                                <a class="dropdown-item" href="#">Novice</a>
                                <a class="dropdown-item" href="#">Intermediate</a>
                                <a class="dropdown-item" href="#">Advanced</a>
                                <a class="dropdown-item" href="#">Elite </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waist to Hip Ratio (cm)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <a class="dropdown-item" href="#">0,61-0,70</a>
                                <a class="dropdown-item" href="#">0,71-0,80</a>
                                <a class="dropdown-item" href="#">0.81-0,90</a>
                                <a class="dropdown-item" href="#">0,91-1,00</a>
                                <a class="dropdown-item" href="#">1,01-1,10</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Height (cm)</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">161 - 170</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <a class="dropdown-item" href="#">0-140 </a>
                                <a class="dropdown-item" href="#">141-150</a>
                                <a class="dropdown-item" href="#">151-160</a>
                                <a class="dropdown-item" href="#">161-170</a>
                                <a class="dropdown-item" href="#">171-180</a>
                                <a class="dropdown-item" href="#">181-190</a>
                                <a class="dropdown-item" href="#">191-200</a>
                                <a class="dropdown-item" href="#">201-210</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown">
                            <button class="btn dropdown-toggle btn-block" type="button" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age (yrs)</button>
                            <div class="dropdown-menu" aria-labelledby="5">
                                <a class="dropdown-item" href="#">0-20</a>
                                <a class="dropdown-item" href="#">21-30</a>
                                <a class="dropdown-item" href="#">31-40</a>
                                <a class="dropdown-item" href="#">41-50</a>
                                <a class="dropdown-item" href="#">51-60</a>
                                <a class="dropdown-item" href="#">61-80</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="checbox-dropdown">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="dropdown white-dropdown with-label">
                            <label for="">Muscle Fiber Type</label>
                            <button class="btn dropdown-toggle btn-block" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Slow Twitch</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <a class="dropdown-item" href="#">Slow twitch</a>
                                <a class="dropdown-item" href="#">Fast twitch</a>
                                <a class="dropdown-item" href="#">Fast and slow twitch </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="col-12 col-lg-8">
            <div class="gender">
                <h4>Men: </h4>
                <p>0-50 kg <span>x</span></p>
                <p>161-170 cm <span>x</span></p>
                <p>Slow Twitch <span>x</span></p>
            </div>
            <div class="gender">
                <h4>Women: </h4>
                <p>0-50 kg <span>x</span></p>
                <p>0-20 years <span>x</span></p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-2 mt-lg-0 text-center text-lg-right">
            <a href="" class="btn btn-yellow-gradient py-2 btn-block">SHOW RESULTS</a>
        </div>
    </div>
</div>
