<div class="title">
  <div class="row align-items-center">
    <div class="col-12 col-sm-8">
      <h3>PUBLISHED PROGRAMS</h3>
    </div>
    <div class="col-12 col-sm-4 text-right">
        <div class="control-slider">
            <a href="" class="btn-control prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="" class="btn-control next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <a href="" class="btn btn-green-gradient py-2">NEW PROGRAM</a>
    </div>
  </div>
</div>

<div class="table-responsive">
    <table class="table fashow-improper">
        <thead>
            <tr>
                <th width="16.67%">PROGRAM:</th>
                <th>GVT</th>
                <th>5x5</th>
                <th>Starting Strenght</th>
                <th>X-shape</th>
                <th>Athletic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="16.67%">PUBLISHED DATE:</td>
                <td>01.07.18</td>
                <td>02.05.17</td>
                <td>15.02.17</td>
                <td>12.12.17</td>
                <td>10.10.17</td>
            </tr>
            <tr>
                <td width="16.67%">NO. OF COMPLETIONS:</td>
                <td>352</td>
                <td>386</td>
                <td>486</td>
                <td>689</td>
                <td>796</td>
            </tr>
            <tr>
                <td width="16.67%">Length (Weeks):</td>
                <td>12</td>
                <td>9</td>
                <td>16</td>
                <td>22</td>
                <td>12</td>
            </tr>
            <tr>
                <td width="16.67%">CATEGORY: </td>
                <td>Hypertrophy</td>
                <td>Strength</td>
                <td>Strength</td>
                <td>Hypertrophy</td>
                <td>Hypertrophy</td>
            </tr>
            <tr>
                <td width="16.67%">TRAINING SPLIT:</td>
                <td>3</td>
                <td>2</td>
                <td>4</td>
                <td>5</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>
