.register {
    background: #FFF;
    display: block;
    padding: 0;
    position: relative;
    z-index: 5;
    clip-path: ellipse(100% 60% at 50% 40%);
	-webkit-clip-path: ellipse(100% 60% at 50% 40%);
	
	@include media-breakpoint-down(md){
		-webkit-clip-path: none;
		clip-path: none;
	}
	
	@media (min-width: 320px) {
		.f-0 {
			display: none;
		}
	}
	@media (min-width: 1024px) {
		.f-0 {
			display: block;
		}
	}
    .sign-up-benefits-wrapper {
        display: block;
        height: 100%;
        background: url('/images/sign-up-benefits.jpg') center no-repeat #000;
		background-size: cover;
		border-right: 4px solid $lightgray;
		
		&.personal {
			background: url('/images/hands-five.jpg') center no-repeat #000;
			background-size: cover;
		}
		&.program {
			background: url('/images/list.jpg') center no-repeat #000;
			background-size: cover;
		}
		&.strength {
			background: url('/images/girl-training.jpg') center no-repeat #000;
			background-size: cover;
		}
		@include section-with-overlay(black);
		
		@include media-breakpoint-down(md){
			border: none;
		}

        .benefits {
            color: $white;
            display: block;
            padding-top: 180px;
            padding-bottom: 100px;

            h2 {
                color: $white;
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: rem(30);

                small {
                    font-size: 50%;
                    display: block;
                }
            }

            ul {
                display: block;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 15px;

                    &:before {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        content: '';
                        display: block;
                        width: 9px;
                        margin-right: 10px;
                        height: 18px;
                        border: solid $green;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .sign-up-form-wrapper {
		background-color: $white;
		display: block;
		
		@media (min-width: 320px) {
			padding-top: 100px;
		}
		@media (min-width: 1024px) {
			padding-top: 0;
		}
		
        h2 {
            color: #000;
            text-transform: uppercase;
            font-family: $primary-font;
            font-size: rem(30);

            small {
                font-size: 13px;
				display: block;
				background: linear-gradient(to bottom, #fdb513 0%, #ff9a05 100%) !important;
				position: absolute;
				left: 270px;
				top: -37px;
				padding: 10px;
				font-family: "Gotham Bold";
				border-radius: 20px;
				@media (min-width: 320px) {
					left: 110px;
				}
				@media (min-width: 360px) {
					left: 132px;
				}
				@media (min-width: 375px) {
					left: 140px;
				}
				@media (min-width: 411px) {
					left: 160px;
				}
				@media (min-width: 480px) {
					left: 190px;
				}
				@media (min-width: 551px) {
					left: 225px;
				}
				@media (min-width: 768px) {
					left: 210px;
				}
				@media (min-width: 1024px) {
					left: 120px;
				}
				@media (min-width: 1280px) {
					left: 165px;
				}
				@media (min-width: 1366px) {
					left: 175px;
				}
				@media (min-width: 1440px) {
					left: 190px;
				}
				@media (min-width: 1920px) {
					left: 270px;
				}
            }
        }
		
		h5 {
			font-family: "Gotham Bold";
			color: #747474;
			font-size: 18px;
			span {
				color: #ff9a08;
				font-size: 18px;
				display: inline;
			}
		}
		
        .content-form {
            padding-top: 180px;
            padding-bottom: 100px;
            display: block;
			position: relative;
			@include media-breakpoint-down(md){
				padding-top: 50px;
			}
			
			.image-upload {
				display: none;
				@media (min-width: 320px) {
					margin-left: 0;
				}
				@media (min-width: 411px) {
					margin-left: 30px;
				}
				@media (min-width: 551px) {
					margin-left: 60px;
				}
				@media (min-width: 1024px) {
					margin-left: 30px;
				}
				@media (min-width: 1440px) {
					margin-left: 60px;
				}
				@media (min-width: 1920px) {
					margin-left: 160px;
				}
				.icon-box {
					cursor: pointer;
					height: 95px;
					width: 95px;
					background-color: #000;
					color: rgb(255, 255, 255);
					display: flex;
					align-items: center;						
					justify-content: center;
					border-radius: 50%;
					svg {
						width: 20px;
					}
					img {
					    width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}
				.upload-section {
					margin-left: 15px;
					p {
						color: #7c7474;
						margin: 0;
						&.title {
							font-family: "Gotham Bold";
							color: #000;
						}
					}
					label {
						font-family: "Gotham Bold";
						background: linear-gradient(to bottom, #fdb513 0%, #ff9a05 100%) !important;
						padding: 10px 15px;
						border-radius: 20px;
						font-size: 13px;
						text-transform: uppercase;
					}
					.bJGPFf {
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						position: absolute;
						z-index: -1;
						overflow: hidden;
					}
				}
			}
			
			.no-sign-up{
				p{
					font-size: rem(14);
					a{
						color: $yellow;
					}
				}
			}
			
            form {
                .form-group {
                    @extend .form-material-design;
	
                    .form-control {
                        border: 2px solid $lightgray;
                        font-weight: 700;
                    }
					
					select {
						height: 51px !important;
						&#str_muscle, &#role {
							background: none;
						}
					}
					
					textarea {
						min-height: 100px;
					}
					
					.validate-error {
						width: 100%;
						margin-top: 0.25rem;
						font-size: 80%;
						color: #dc3545;
					}
					
					input {
						&#per_experience, &#pro_experience, &#str_experience {
							background: #FFF url(/images/years-ikon.png) no-repeat 95% center;
							background-size: auto 50%;
						}
						&#per_birth, &#pro_birth, &#str_birth {
							background: #FFF url(/images/calendar-field.png) no-repeat 95% center;
							background-size: auto 50%;
						}
						&#str_height {
							background: #FFF url(/images/cm-ikon.png) no-repeat 95% center;
							background-size: auto 50%;
						}
					}
					
					#question_muscle {
					    position: absolute;
						top: 8px;
						right: 20px;
						background: transparent;
						&:focus {
							box-shadow: none;
						}
					}
					
					#question_role {
						position: absolute;
						top: 8px;
						right: 20px;
						background: transparent;
						&:focus {
							box-shadow: none;
						}
					}
					label {
						&.error {
							top: 50px;
							color: red;
							font-size: 10px;
						}
						@media (min-width: 1024px) {
							font-size: 12px;
							top: 19px;
						}
						@media (min-width: 1336px) {
							top: 18px;
							font-size: 12px;
						}
						@media (min-width: 1920px) {
							top: 13px;
							font-size: 1rem;
						}
					}
                }

                a {
                    color: #000;
                    text-decoration: underline;
                }

                .checkbox {
                    font-size: rem(14);
                }

                .wrapper-btn {
                    .btn {
                        font-size: 0.8rem;
                        font-weight: bold;
                    }
                }

                .custom-checkbox .checkmark {
                    border: solid 2px $lightgray;
                    background: $white;
				}
				
				&#personal-form {
					display: none;
				}
				
				&#program-form {
					display: none;
				}
				
				&#strength-form {
					display: none;
				}
            }
        }
    }
}