<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>CHEST</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Flat bench flyes</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Barbell bench press</a>
                          <a class="dropdown-item" href="#">Barbell incline bench press</a>
                          <a class="dropdown-item" href="#">Barbell decline bench press</a>
                          <a class="dropdown-item" href="#">Flat bench dumbbell press</a>
                          <a class="dropdown-item" href="#">Incline bench dumbbell press</a>
                          <a class="dropdown-item" href="#">Decline bench dumbell press</a>
                          <a class="dropdown-item" href="#">Flat bench flyes</a>
                          <a class="dropdown-item" href="#">Incline bench flyes</a>
                          <a class="dropdown-item" href="#">Decline bench flyes</a>
                          <a class="dropdown-item" href="#">Cable cross</a>
                          <a class="dropdown-item" href="#">Dips for chest</a>
                          <a class="dropdown-item" href="#">Seated machine chest press</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm1">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)" value="140">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions" value="4">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max" value="153">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is" value="Intermediate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr class="green-hover">
                    <td>50-59</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">26</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">40</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">60</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">84</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">96</td>
                </tr>
                <tr class="green-hover">
                    <td>60-69</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">37</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">53</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">75</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">100</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">113</td>
                </tr>
                <tr class="green-hover">
                    <td>70-79</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">45</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">65</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">89</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">116</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">132</td>
                </tr>
                <tr class="green-hover">
                    <td>80-89</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">55</td>
                    <td  data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">76</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">102</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">131</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">142</td>
                </tr>
                <tr class="green-hover">
                    <td>90-99</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">64</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">87</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">114</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">142</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">165</td>
                </tr>
                <tr class="green-hover">
                    <td>100-109</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">74</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">76</td>
                    <td class="active" data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">125</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">157</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">191</td>
                </tr>
                <tr class="green-hover">
                    <td>110-119</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">81</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">705</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">135</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">169</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">204</td>
                </tr>
                <tr class="green-hover">
                    <td>120+</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">98</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">125</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">157</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">192</td>
                    <td data-toggle="collapse" href="#collapseForm1" role="button" aria-expanded="false" aria-controls="collapseForm1">229</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text" value="8"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text" value="5"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text" value="11"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text" value="22"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text" value="16"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text" value="19"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text" value="12"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>Back</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Wide-grip pull-up</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Barbell deadlift</a>
                          <a class="dropdown-item" href="#">Good morning</a>
                          <a class="dropdown-item" href="#">Bent-over barbell row</a>
                          <a class="dropdown-item" href="#">Single-arm dumbbell row</a>
                          <a class="dropdown-item" href="#">Wide-grip pull-up</a>
                          <a class="dropdown-item" href="#">Supinated-grip pull-up</a>
                          <a class="dropdown-item" href="#">Standing T-bar row</a>
                          <a class="dropdown-item" href="#">Wide-grip seated cable row</a>
                          <a class="dropdown-item" href="#">Close-grip seated cable row</a>
                          <a class="dropdown-item" href="#">Wide-grip pull-down</a>
                          <a class="dropdown-item" href="#">Close-grip pull-down</a>
                          <a class="dropdown-item" href="#">Supinated-grip pull-down</a>
                          <a class="dropdown-item" href="#">Dumbbell pull-over</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm2" role="button" aria-expanded="false" aria-controls="collapseForm2">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm2">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-auto">
                <h4>SHOULDERS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Seated arnold press</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Seated barbell shoulder press</a>
                          <a class="dropdown-item" href="#">Standing dumbbell shoulder press</a>
                          <a class="dropdown-item" href="#">Standing barbell shoulder press</a>
                          <a class="dropdown-item" href="#">Seated arnold press</a>
                          <a class="dropdown-item" href="#">Dumbbell front raise</a>
                          <a class="dropdown-item" href="#">Dumbbell lateral raise</a>
                          <a class="dropdown-item" href="#">Cable lateral raise</a>
                          <a class="dropdown-item" href="#">Single cable lateral raise</a>
                          <a class="dropdown-item" href="#">Seated bent over rear delt flyes.</a>
                          <a class="dropdown-item" href="#">Bent over single cable rear delt</a>
                          <a class="dropdown-item" href="#">Bent over double cable rear delt</a>
                          <a class="dropdown-item" href="#">Lying double cable rear delt</a>
                          <a class="dropdown-item" href="#">Cable rope rear-delt rows</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm3" role="button" aria-expanded="false" aria-controls="collapseForm3">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm3">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>QUADS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Barbell lunge</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Barbell front squat</a>
                          <a class="dropdown-item" href="#">Barbell lunge </a>
                          <a class="dropdown-item" href="#">Dumbbell lunge</a>
                          <a class="dropdown-item" href="#">Smith-machine lunge</a>
                          <a class="dropdown-item" href="#">Smith-machine back squat</a>
                          <a class="dropdown-item" href="#">Leg press</a>
                          <a class="dropdown-item" href="#">Hack squat (machine)</a>
                          <a class="dropdown-item" href="#">Leg extension</a>
                          <a class="dropdown-item" href="#">Single leg extension</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm4" role="button" aria-expanded="false" aria-controls="collapseForm4">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm4">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>HAMSTRINGS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Romanian deadlift</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Romanian deadlift</a>
                          <a class="dropdown-item" href="#">Lying leg-curls</a>
                          <a class="dropdown-item" href="#">Seated leg-curls</a>
                          <a class="dropdown-item" href="#">Nordic hamstrings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm5" role="button" aria-expanded="false" aria-controls="collapseForm5">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm5">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>CALVES</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Seated calf raise</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Standing smith-machine calf raise</a>
                          <a class="dropdown-item" href="#">Standing calf raise (machine)</a>
                          <a class="dropdown-item" href="#">Seated calf raise</a>
                          <a class="dropdown-item" href="#">Calf raise in leg-press machine</a>
                          <a class="dropdown-item" href="#">Donkey calf raise</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm6" role="button" aria-expanded="false" aria-controls="collapseForm6">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm6">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>Biceps</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Barbell biceps curl</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Seated dumbbell biceps curl</a>
                          <a class="dropdown-item" href="#">Standing dumbbell biceps curl</a>
                          <a class="dropdown-item" href="#">Barbell biceps curl</a>
                          <a class="dropdown-item" href="#">Seated hammer curl</a>
                          <a class="dropdown-item" href="#">Standing hammer curl</a>
                          <a class="dropdown-item" href="#">Flat bench dumbbell curl</a>
                          <a class="dropdown-item" href="#">EZ-barbell scott curl</a>
                          <a class="dropdown-item" href="#">Dumbbell scott curl</a>
                          <a class="dropdown-item" href="#">Hammer scott curl</a>
                          <a class="dropdown-item" href="#">Reverse curl</a>
                          <a class="dropdown-item" href="#">Reverse scott curl</a>
                          <a class="dropdown-item" href="#">Double cable curl</a>
                          <a class="dropdown-item" href="#">Single cable curl</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm7" role="button" aria-expanded="false" aria-controls="collapseForm7">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm7">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="exercise-table">
    <div class="exercise-table-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-sm-6">
                <h4>TRICEPS</h4>
                <div class="exercise-box">
                    <p>EXERCISE:</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dips for triceps</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Flat bench barbell scull crusher</a>
                          <a class="dropdown-item" href="#">Flat bench dumbbell scull crusher</a>
                          <a class="dropdown-item" href="#">Seated barbell scull crusher</a>
                          <a class="dropdown-item" href="#">Seated dumbbell scull crusher</a>
                          <a class="dropdown-item" href="#">Close-grip bench press</a>
                          <a class="dropdown-item" href="#">Dips for triceps</a>
                          <a class="dropdown-item" href="#">Push-down</a>
                          <a class="dropdown-item" href="#">Rope push-down</a>
                          <a class="dropdown-item" href="#">Cable kick-back</a>
                          <a class="dropdown-item" href="#">Dumbbell kick-back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-auto">
                <a href="" class="btn btn-yellow-gradient btn-toggle" data-toggle="collapse" href="#collapseForm8" role="button" aria-expanded="false" aria-controls="collapseForm8">CALCULATE ONE REP MAX</a>

                <div class="collapse calculate" id="collapseForm8">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lift (kg)">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Repetitions">
                        </div>
                        <div class="form-group">
                            <a href="" class="btn btn-block btn-black">CALCULATE</a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your one rep max">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control bg-gray" placeholder="Your level is">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>BODY WEIGHT (KG)</th>
                    <th>UNTRAINED</th>
                    <th>Novie</th>
                    <th>Intermediate</th>
                    <th>Advanced</th>
                    <th>Elite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50-59</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>60-69</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>70-79</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>80-89</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>90-99</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>100-109</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>110-119</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>120+</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table>
                            <tbody>
                                <tr>
                                    <td>YOU ARE STRONGER <br>THAN:</td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>strength level</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>height</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>at your <br><b>age</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>body weight</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>waist-hip ratio</b></span></td>
                                    <td><div><input type="text"> %</div><span>of male lifters <br>with your <br><b>muscle fiber type</b></span></td>
                                    <td><div><input type="text"> %</div><span>of your <br><b>mirror athletes</b> <br>(all variables combined)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
