osg-strength-standards-exercise-table {
    .exercise-table {
        display: block;
        margin-bottom: 40px;

        .exercise-table-title {
            display: block;
            border-bottom: solid 1px #b7b7b7;
            margin-bottom: 15px;
            padding-bottom: 15px;

            h4 {
                font-family: $primary-font;
                font-size: 1.4rem;
                text-transform: uppercase;
                margin: 0;
                color: $yellow;
            }

            .exercise-box {
                font-weight: bold;
                font-size: 1.4rem;
                font-family: $primary-font;

                p {
                    display: inline-block;
                    color: #000;
                    margin: 0;
                }

                .dropdown {
                    display: inline-block;
                    outline: none;

                    .btn {
                        background: transparent;
                        outline: none;
                        color: #ababab;
                        font-family: $fourth-font;
                        font-size: 18px;
                        text-transform: uppercase;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .dropdown-menu {
                        font-size: rem(8);
                        width: 250px;
                        border-radius: 0;
                        box-shadow: 0 0 20px rgba(0,0,0,0.2);
                        .dropdown-item {
                          font-family: $fourth-font;
                          font-size: rem(14);
                          padding: 10px;
                          color: #8c8c8c;
                          &:hover {
                            color: #000;
                          }
                        }
                    }

                }
            }

            .btn-toggle {
                font-size: rem(14);
                outline: none;
                font-family: $fourth-font;
                font-weight: bold;

                &:focus {
                    box-shadow: none;
                }
            }

            .calculate {
                position: absolute;
                top: 40px;
                left: 15px;
                width: calc(100% - 30px);
                .btn-black{
                    font-size: rem(14);
                    font-family: $fourth-font;
                    font-weight: bold;
                }

                .form-wrapper {
                    background: #FFF;
                    border-radius: 10px;
                    padding: 15px;
                    box-shadow: 0px 0px 4px 0px #a2a2a2;
                    .form-group{
                        .form-control{
                            border-radius: 0px;
                            color: #838383;
                            height: auto;
                            border: 2px solid #e1e1e1;
                            font-size: rem(14);
                            &.bg-gray{
                                background: #f5f5f5;
                            }
                        }
                    }
                }
            }
        }

        table.table {
            table-layout: fixed;
			@media (min-width: 320px) {
				width: 1110px;
			}
            >thead {
                >tr {
                    th {
                        border: solid 1px #dadada;
                        background: #fff6e1;
                        font-family: $fourth-font;
                        font-size: rem(14);
                        font-weight: bold;
                        padding: 0.65rem 0.45rem;
                        text-transform: uppercase;
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            >tbody {
                >tr {
                    td {
                        border: solid 1px #dadada;
                        background: #FFF;
                        width: 100%;
                        font-size: rem(14);
                        text-align: center;
                        padding: 0.65rem 0.45rem;

                        &:first-child {
                            background: #fff6e1;
                            font-size: rem(14);
                            font-family: $fourth-font;
                            text-align: center;
                            color: #000;
                        }
                    }

                    &:last-child {
                        >td {
                            padding: 0;

                            table {
                                td {
                                    border-top: none;
                                    background: #fff6e1;
                                    width: auto;
                                    padding: 8px;

                                    &:first-child {
                                        border-left: none;
                                        font-weight: bold;
                                        font-family: $fourth-font;
                                        font-size: .8rem;
                                        text-align: left;
                                        vertical-align: middle;
                                    }

                                    &:last-child {
                                        border-right: none;
                                    }

                                    >div {
                                        display: block;
                                        width: 100%;

                                        input {
                                            display: inline-block;
                                            width: 80%;
                                            border-radius: 10px;
                                            padding-left: 5px;
                                            padding-right: 5px;
                                            border: #dadada solid 1px;

                                            &:focus {
                                                outline: none;
                                                box-shadow: none;
                                            }
                                        }
                                    }

                                    span {
                                        font-size: rem(13);
                                        font-family: $secondary-font;

                                        b {
                                            color: #000;
                                            font-family: $fourth-font;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
