osg-workout-detail-progress {
	.form-title {
		text-align: center;
		p {
			color: #646464;
			text-transform: uppercase;
			font-size: 13px;
			padding-top: 20px;
		}
	}
	.form-des {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		p {
			margin-bottom: 0;
			font-size: 12px;
			color: #646464;
			&.amount-num {
				font-size: 35px;
				color: #000;
				@media screen and (max-width:320px) {
					font-size: 30px;
				}
			}
		}
	}
	.stepper-group {
		display: flex;
		.stepper {
			width: 100%;
			button {
				border: 1px solid #606060;
				background: #fff;
				padding: 5px 15px;
				margin-top: 20px;
				span {
					font-size: 20px;
				}
				&.decrease {
					float: left;
				}
				&.increase {
					float: right;
				}
			}
		}
		.amount {
			text-align: center;
			label {
				color: #646464;
				margin-bottom: 0;
				font-size: 10px;
				&.amount-num {
					font-size: 35px;
					color: #000;
					@media screen and (max-width:320px) {
						font-size: 30px;
					}
				}
			}
		}
	}
}
